<app-modal modalTitle="ui.text.user.login"
           [dialogRef]="dialogRef"
           (primaryClick)="loginComponent.loginAction()"
           primaryText="ui.text.user.login"
>
    <app-login #loginComponent (loginSuccessfull)="loginSuccessfull()"></app-login>
</app-modal>
