<app-mat-input-wrapper label="ui.text.user.login"
                       name="login"
                       validOnPristine="true"
                       [formGroup]="form"
></app-mat-input-wrapper>
<app-mat-input-wrapper label="ui.text.user.password"
                       name="password"
                       type="password"
                       validOnPristine="true"
                       [formGroup]="form"
></app-mat-input-wrapper>
