<app-modal 
    modalTitle="ui.text.progressAdjustment.title"
    [dialogRef]="dialogRef"
    primaryText="ui.text.default.save"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <app-mat-input-wrapper
            label="ui.text.progressAdjustment.adjustmentWeeks"
            type="number"
            name="adjustmentWeeks"></app-mat-input-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.progressAdjustment.fromDate"
            name="adjustmentFromDate"></app-mat-datepicker-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.progressAdjustment.toDate"
            name="adjustmentToDate"></app-mat-datepicker-wrapper>
    </form>
</app-modal>