<app-modal 
    modalTitle="ui.text.progress.title"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <app-mat-datepicker-wrapper
            label="ui.text.progress.date"
            name="date"
            (valueChange)="onDateChange($event)"></app-mat-datepicker-wrapper>
        <app-mat-input-wrapper
            label="ui.text.progress.amount"
            type="number"
            name="amount"></app-mat-input-wrapper>
        <app-mat-input-wrapper
            label="ui.text.progress.description"
            name="description"></app-mat-input-wrapper>
        <app-mat-select-wrapper
            label="ui.text.progress.progressType"
            name="progressType"
            (valueChange)="typeChanged()"
            [options]="progressTypeOptions"
            bindLabel="label"
            bindValue="value"></app-mat-select-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.progress.parent"
            name="parentId"
            [clearable]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="parentLoadDataCallback"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="isForPlan">
                {{'ui.text.progress.isForPlan' | language}}
            </label>
        </div>
    </form>

    <button 
        mat-raised-button
        modal-footer-prepend
        color="primary"
        type="button"
        *ngIf="!isAddMode"
        (click)="deleteAction()">
        {{'ui.text.default.delete' | language}}
    </button>
</app-modal>