<h3>{{"ui.text.localization.grid.title" | language}}</h3>
<app-mat-select-wrapper
    label="ui.text.localization.localicationSelection"
    [options]="localizations"
    [(value)]="selectedLocalization"
    (valueChange)="selectLocalization($event)"
    bindLabel="label"
    bindValue="value">
    <ng-container suffix>
        <button
            mat-icon-button
            class="fas fa-plus"
            (click)="showModal()"></button>
        <button
            mat-icon-button
            class="fas fa-edit"
            (click)="showModal(selectedLocalization)"
            *ngIf="deleteAllowed(selectedLocalization)"></button>
        <button
            mat-icon-button
            class="fas fa-trash"
            (click)="deleteLocalizationAction(selectedLocalization)"
            *ngIf="deleteAllowed(selectedLocalization)"></button>
    </ng-container>
</app-mat-select-wrapper>
<p-table
    #table
    styleClass="at-table-sm"
    [value]="dataList"
    editable="true"
    paginator="true"
    (onEditComplete)="rowEdited($event)"
    [globalFilterFields]="['key', 'value']"
>
    <ng-template pTemplate="caption">
        <app-mat-input-wrapper
            label="ui.text.localization.grid.searchPlaceholder"
            (valueChange)="table.filterGlobal($event, 'contains')"></app-mat-input-wrapper>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="key">
                {{'ui.text.localization.key' | language}}
                <p-sortIcon field="key"></p-sortIcon>
            </th>
            <th pSortableColumn="value">
                {{'ui.text.localization.value' | language}}
                <p-sortIcon field="value"></p-sortIcon>
            </th>
        </tr>
        <tr>
            <th class="ui-column-filter">
                <app-mat-input-wrapper (valueChange)="table.filter($event, 'key', 'contains')"></app-mat-input-wrapper>
            </th>
            <th class="ui-column-filter">
                <app-mat-input-wrapper (valueChange)="table.filter($event, 'value', 'contains')"></app-mat-input-wrapper>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity let-rowIndex="rowIndex">
        <tr>
            <td>
                {{entity.key}}
            </td>
            <td [pEditableColumn]="entity" pEditableColumnField="value">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input [(ngModel)]="entity.value"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{entity.value}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="row align-items-center">
            <div class="col">
                <button
                    type="button"
                    class="at-btn-fa btn btn-sm btn-primary" 
                    (click)="listLangVarsAction()"
                    title="{{'ui.text.default.refresh' | language}}"
                >
                    <i class="fas fa-sync-alt"></i>
                </button>
                <button
                    type="button"
                    class="at-btn-fa btn btn-sm btn-primary" 
                    (click)="updateLangVarsAction()"
                    title="{{'ui.text.default.save' | language}}"
                    [disabled]="editedList.length == 0"
                >
                    <i class="fas fa-save"></i>
                </button>
                <button
                    type="button"
                    class="at-btn-fa btn btn-sm btn-primary" 
                    (click)="refreshLocalization($event)"
                    title="{{'ui.text.navbar.refreshLocalization' | language}}"
                >
                    <i class="fas fa-check-double"></i>
                </button>
            </div>
        </div>
    </ng-template>
</p-table>