<app-modal 
    modalTitle="ui.text.localization.title"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <app-mat-input-wrapper
            label="ui.text.localization.code"
            [disabled]="!isAddMode"
            name="id"></app-mat-input-wrapper>
        <app-mat-input-wrapper
            label="ui.text.localization.name"
            name="name"></app-mat-input-wrapper>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" formControlName="isActive">
                        {{'ui.text.default.isActive' | language}}
                    </label>
                </div>
            </div>
        </div>
    </form>
</app-modal>