<mat-toolbar class="toolbar-with-filters">
    <mat-toolbar-row class="justify-content-center">
        <app-mat-datepicker-wrapper
            label="ui.text.psr.dateFrom"
            required="true"
            startView="multi-year"
            mode="month"
            [value]="dateFrom"
            (valueChange)="fromDateChanged($event)"></app-mat-datepicker-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.psr.dateTo"
            required="true"
            startView="multi-year"
            mode="month"
            [value]="dateTo"
            (valueChange)="toDateChanged($event)"></app-mat-datepicker-wrapper>
        <mat-ng-select-infinite-wrapper
            class="department-category-selection"
            [loadDataCallback]="getDepartmentLoadDataCallback"
            [(value)]="departmentId"
            [converter]="departmentConverter"
            label="ui.text.department.title"
            bindLabel="viewName" 
            bindValue="id"
            [clearable]="true"
            (valueChange)="refreshData()"></mat-ng-select-infinite-wrapper>
        <span *ngIf="!isWorkload">
            <mat-slide-toggle
                [checked]="showPreliminary"
                (change)="prepareRows($event.checked)" 
                style="width: 150px; margin-top: 15px;">
                {{(showPreliminary ? 'ui.text.summary.showPreliminary' : 'ui.text.summary.showApproved') | language}}
            </mat-slide-toggle>
            <mat-slide-toggle
                [checked]="reportType"
                (change)="reportType = $event.checked" 
                style="width: 150px">
                {{(reportType ? 'ui.text.summary.hours' : 'ui.text.summary.money') | language}}
            </mat-slide-toggle>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group [(selectedIndex)]="activeTab">
    <mat-tab label="{{'ui.text.summary.grid.mainCategory.title' | language}}">
        <p-table 
            [value]="rows1" 
            sortField="timesheetCategoryName" 
            [sortOrder]="1" 
            [columns]="cols" 
            [scrollable]="true" 
            [style]="{width: gridWidth + 'px', minHeight: '250px'}"
            frozenWidth="300px"
            (sortFunction)="customCategorySort($event)" 
            [customSort]="true"
        >
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                    <div style="float:left">
                        <button type="button" class="btn btn-primary" (click)="exportCSV2()">
                            <i class="fas fa-download"></i>
                            {{'ui.text.default.download2' | language}}
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="frozenheader">
                <tr style="height: 66px">
                    <th atCell pSortableColumn="timesheetCategoryName" style="width:220px" title="{{'ui.text.timesheetCategory.title' | language}}">
                        {{"ui.text.timesheetCategory.title" | language}}
                        <p-sortIcon field="timesheetCategoryName"></p-sortIcon>
                    </th>
                    <th atCell>
                        {{"ui.text.summary.total" | language}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="header" let-columns="columns">
                <tr style="height: 66px">
                    <th atCell *ngFor="let col of cols">
                        {{"ui.text.default.week" | language}} {{col.week}} ({{col.maxHours}})<br/>
                        <small>{{col.weekStart | date: 'MMM dd' : 'UTC'}} - {{col.weekEnd | date: 'MMM dd' : 'UTC'}}</small>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" style="width:90px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="frozenbody" let-entity>
                <tr [ngClass]="{'font-weight-bold': [TIMESHEET_ROW_TYPE.TOTAL, TIMESHEET_ROW_TYPE.GROUP_TOTAL].indexOf(entity.type) >= 0}">
                    <td atCell title="{{entity.timesheetCategoryDescription}}" style="width:220px">
                        <span *ngIf="entity.type !== TIMESHEET_ROW_TYPE.SIMPLE">
                            {{entity.timesheetCategoryName}}
                        </span>
                        <i *ngIf="!isWorkload && entity.hasPreliminaryRows"
                           class="fas fa-exclamation-triangle text-warning" 
                           title="{{'ui.text.summary.hasUnappovedHours' | language}}"></i>
                        <a *ngIf="entity.type === TIMESHEET_ROW_TYPE.SIMPLE" href="javascript:void(0);" (click)="openUserBreakdownTab(entity.timesheetCategoryId)">
                            {{entity.timesheetCategoryName}}
                        </a>
                    </td>
                    <td atCell style="border-right: 1px solid black;">
                        {{reportType ? entity.totals.totalHours : entity.totals.totalMoney}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" 
                         let-entity 
                         let-columns="columns"
            >
                <tr [ngClass]="{'font-weight-bold': [TIMESHEET_ROW_TYPE.TOTAL, TIMESHEET_ROW_TYPE.GROUP_TOTAL].indexOf(entity.type) >= 0}">
                    <td atCell *ngFor="let col of cols">
                        {{entity.weeks.get(col) ? (reportType ? entity.weeks.get(col).amount : entity.weeks.get(col).amount2) : 0}}
                        {{entity.type === TIMESHEET_ROW_TYPE.OCCUPATION_PERCENTAGE ? '%' : ''}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </mat-tab>

    <mat-tab label="{{'ui.text.summary.grid.userBreakdown.title' | language}}">
        <p-table 
            [value]="rows2" 
            sortField="userName" 
            [sortOrder]="1"
            [columns]="cols" 
            [scrollable]="true" 
            [style]="{width: gridWidth + 'px', minHeight: '250px'}"
            frozenWidth="300px"
            (sortFunction)="customUserSort($event)" 
            [customSort]="true"
        >
            <ng-template pTemplate="caption">
                <app-mat-select-wrapper
                    label="ui.text.timesheetCategory.title"
                    [options]="timesheetCategoryItems"
                    [(value)]="timesheetCategoryId"
                    (valueChange)="prepareUserBreakdownRows()"
                    bindLabel="label"
                    bindValue="value"></app-mat-select-wrapper>
            </ng-template>
            <ng-template pTemplate="frozenheader">
                <tr style="height: 66px;">
                    <th atCell pSortableColumn="userName" style="width:220px">
                        {{"ui.text.user.title" | language}}
                        <p-sortIcon field="userName"></p-sortIcon>
                    </th>
                    <th atCell>{{"ui.text.summary.total" | language}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="header">
                <tr style="height: 66px">
                    <th atCell *ngFor="let col of cols">
                        {{"ui.text.default.week" | language}} {{col.week}} ({{col.maxHours}})<br>
                        <small>{{col.weekStart | date: 'MMM dd' : 'UTC'}} - {{col.weekEnd | date: 'MMM dd' : 'UTC'}}</small>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" style="width:90px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="frozenbody" let-entity let-rowIndex="rowIndex">
                <tr [ngClass]="{
                        'font-weight-bold': [TIMESHEET_ROW_TYPE.TOTAL, TIMESHEET_ROW_TYPE.GROUP_TOTAL].indexOf(entity.type) >= 0
                    }"
                    [hidden]="entity.type !== TIMESHEET_ROW_TYPE.GROUP_TOTAL && userRowsGrouping[entity.departmentId]"
                >
                    <td atCell style="width:220px">
                        <span *ngIf="entity.type !== TIMESHEET_ROW_TYPE.SIMPLE">
                            <button
                                mat-icon-button
                                color="accent"
                                type="button" 
                                class="datatable-row-collapse"
                                *ngIf="entity.type === TIMESHEET_ROW_TYPE.GROUP_TOTAL"
                                (click)="toggleRowGroupHiddenState(entity.departmentId)">
                                <mat-icon 
                                    fontSet="fas" 
                                    class="fa-xs" 
                                    [fontIcon]="userRowsGrouping[entity.departmentId] ? 'fa-angle-double-right' : 'fa-angle-double-down'"></mat-icon>
                            </button>
                            {{entity.userName}}
                        </span>
                        <button 
                            type="button"
                            class="btn btn-primary at-btn-fa-xs"
                            *ngIf="!isWorkload && entity.type === TIMESHEET_ROW_TYPE.SIMPLE"
                            (click)="openUserApproval(entity.userId)"
                        >
                            <i class="fas fa-directions fa-xs"></i>
                        </button>
                        <a *ngIf="entity.type === TIMESHEET_ROW_TYPE.SIMPLE" 
                           href="javascript:void(0);" 
                           (click)="openCategoryBreakdownTab(entity.userId)"
                        >
                            {{entity.userName}}
                        </a>
                    </td>
                    <td atCell style="border-right: 1px solid black;">
                        {{reportType ? entity.totals.totalHours : entity.totals.totalMoney}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" 
                         let-entity 
                         let-rowIndex="rowIndex"
            >
                <tr [ngClass]="{
                        'font-weight-bold': [TIMESHEET_ROW_TYPE.TOTAL, TIMESHEET_ROW_TYPE.GROUP_TOTAL].indexOf(entity.type) >= 0
                    }"
                    [hidden]="entity.type !== TIMESHEET_ROW_TYPE.GROUP_TOTAL && userRowsGrouping[entity.departmentId]"
                >
                    <td atCell 
                        *ngFor="let col of cols" 
                        [ngClass]="getHoursClass(entity, col)"
                    >
                        {{entity.weeks.get(col) ? (reportType ? entity.weeks.get(col).amount : entity.weeks.get(col).amount2) : 0}}
                        {{entity.type === TIMESHEET_ROW_TYPE.OCCUPATION_PERCENTAGE ? '%' : ''}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </mat-tab>

    <mat-tab label="{{'ui.text.summary.grid.categoryBreakdown.title' | language}}">
        <p-table 
            [value]="rows3" 
            sortField="timesheetCategoryName" 
            [sortOrder]="1"
            [columns]="cols" 
            [scrollable]="true" 
            [style]="{width: gridWidth + 'px', minHeight: '250px'}"
            frozenWidth="300px"
            (sortFunction)="customCategorySort($event)" 
            [customSort]="true"
        >
            <ng-template pTemplate="caption">
                <app-mat-select-wrapper
                    label="ui.text.user.title"
                    [options]="userItems"
                    [(value)]="userId"
                    (valueChange)="prepareCategoryBreakdownRows()"
                    bindLabel="label"
                    bindValue="value"></app-mat-select-wrapper>
            </ng-template>
            <ng-template pTemplate="frozenheader">
                <tr style="height: 66px">
                    <th atCell pSortableColumn="timesheetCategoryName" style="width:220px">
                        {{"ui.text.timesheetCategory.title" | language}}
                        <p-sortIcon field="timesheetCategoryName"></p-sortIcon>
                    </th>
                    <th atCell>{{"ui.text.summary.total" | language}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="header">
                <tr style="height: 66px">
                    <th atCell *ngFor="let col of cols">
                        {{"ui.text.default.week" | language}} {{col.week}} ({{col.maxHours}})<br/>
                        <small>{{col.weekStart | date: 'MMM dd' : 'UTC'}} - {{col.weekEnd | date: 'MMM dd' : 'UTC'}}</small>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" style="width:90px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="frozenbody" let-entity>
                <tr [ngClass]="{'font-weight-bold': [TIMESHEET_ROW_TYPE.TOTAL, TIMESHEET_ROW_TYPE.GROUP_TOTAL].indexOf(entity.type) >= 0}">
                    <td atCell 
                        title="{{entity.timesheetCategoryDescription}}" 
                        style="width:220px"
                    >
                        <span *ngIf="entity.type !== TIMESHEET_ROW_TYPE.SIMPLE">
                            {{entity.timesheetCategoryName}}
                        </span>
                        <a *ngIf="entity.type === TIMESHEET_ROW_TYPE.SIMPLE" 
                           href="javascript:void(0);" 
                           (click)="openUserBreakdownTab(entity.timesheetCategoryId)">
                            {{entity.timesheetCategoryName}}
                        </a>
                    </td>
                    <td atCell style="border-right: 1px solid black;">
                        {{reportType ? entity.totals.totalHours : entity.totals.totalMoney}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-entity>
                <tr [ngClass]="{'font-weight-bold': [TIMESHEET_ROW_TYPE.TOTAL, TIMESHEET_ROW_TYPE.GROUP_TOTAL].indexOf(entity.type) >= 0}">
                    <td atCell *ngFor="let col of cols">
                        {{entity.weeks.get(col) ? (reportType ? entity.weeks.get(col).amount : entity.weeks.get(col).amount2) : 0}}
                        {{entity.type === TIMESHEET_ROW_TYPE.OCCUPATION_PERCENTAGE ? '%' : ''}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </mat-tab>

    <mat-tab label="{{'ui.text.summary.grid.mainUser.title' | language}}">
        <div *ngIf="isWorkload && barChartData.length">
            <canvas 
                baseChart
                style="max-height: 600px; min-height: 600px; height: 600px;"
                [datasets]="barChartData"
                [labels]="weekChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                chartType="bar"
                ></canvas>
        </div>

        <p-table
            [value]="rows4"
            sortField="userName"
            [sortOrder]="1"
            [columns]="cols"
            [scrollable]="true"
            [style]="{width: gridWidth + 'px', minHeight: '250px'}"
            frozenWidth="300px"
            (sortFunction)="customUserSort($event)"
            [customSort]="true"
        >
            <ng-template pTemplate="frozenheader">
                <tr style="height: 66px">
                    <th atCell pSortableColumn="userName" style="width:220px">
                        {{"ui.text.user.title" | language}}
                        <p-sortIcon field="userName"></p-sortIcon>
                    </th>
                    <th atCell>{{"ui.text.summary.total" | language}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="header">
                <tr style="height: 66px">
                    <th atCell *ngFor="let col of cols">
                        {{"ui.text.default.week" | language}} {{col.week}} ({{col.maxHours}})<br>
                        <small>{{col.weekStart | date: 'MMM dd' : 'UTC'}} - {{col.weekEnd | date: 'MMM dd' : 'UTC'}}</small>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" style="width:90px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="frozenbody" let-entity let-rowIndex="rowIndex">
                <tr [ngClass]="{
                        'font-weight-bold': [TIMESHEET_ROW_TYPE.TOTAL, TIMESHEET_ROW_TYPE.GROUP_TOTAL].indexOf(entity.type) >= 0
                    }"
                    [hidden]="entity.type !== TIMESHEET_ROW_TYPE.GROUP_TOTAL && userRowsGrouping[entity.departmentId]"
                >
                    <td atCell style="width:220px">
                        <span *ngIf="entity.type !== TIMESHEET_ROW_TYPE.SIMPLE">
                            <button
                                mat-icon-button
                                color="accent"
                                type="button" 
                                class="datatable-row-collapse"
                                *ngIf="entity.type === TIMESHEET_ROW_TYPE.GROUP_TOTAL"
                                (click)="toggleRowGroupHiddenState(entity.departmentId)">
                                <mat-icon 
                                    fontSet="fas" 
                                    class="fa-xs" 
                                    [fontIcon]="userRowsGrouping[entity.departmentId] ? 'fa-angle-double-right' : 'fa-angle-double-down'"></mat-icon>
                            </button>
                            {{entity.userName}}
                        </span>
                        <i *ngIf="!isWorkload && entity.hasPreliminaryRows"
                           class="fas fa-exclamation-triangle text-warning" 
                           title="{{'ui.text.summary.hasUnappovedHours' | language}}"></i>
                        <button type="button"
                                class="btn btn-primary at-btn-fa-xs"
                                *ngIf="!isWorkload && entity.type === TIMESHEET_ROW_TYPE.SIMPLE"
                                (click)="openUserApproval(entity.userId)"
                        >
                            <i class="fas fa-directions fa-xs"></i>
                        </button>
                        <a *ngIf="entity.type === TIMESHEET_ROW_TYPE.SIMPLE" 
                           href="javascript:void(0);" 
                           (click)="openCategoryBreakdownTab(entity.userId)"
                        >
                            {{entity.userName}}
                        </a>
                    </td>
                    <td atCell style="border-right: 1px solid black;">
                        {{reportType ? entity.totals.totalHours : entity.totals.totalMoney}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" 
                         let-entity 
                         let-rowIndex="rowIndex"
            >
                <tr [ngClass]="{
                        'font-weight-bold': [TIMESHEET_ROW_TYPE.TOTAL, TIMESHEET_ROW_TYPE.GROUP_TOTAL].indexOf(entity.type) >= 0
                    }"
                    [hidden]="entity.type !== TIMESHEET_ROW_TYPE.GROUP_TOTAL && userRowsGrouping[entity.departmentId]"
                >
                    <td atCell 
                        *ngFor="let col of cols" 
                        [ngClass]="getHoursClass(entity, col)"
                    >
                        {{entity.weeks.get(col) ? (reportType ? entity.weeks.get(col).amount : entity.weeks.get(col).amount2) : 0}}
                        {{entity.type === TIMESHEET_ROW_TYPE.OCCUPATION_PERCENTAGE ? '%' : ''}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </mat-tab>
</mat-tab-group>