<mat-form-field [hintLabel]="hint | language" [appearance]="appearance">
    <mat-label>{{label | language}}</mat-label>
    <span matPrefix>
        <ng-content select="[prefix]"></ng-content>
    </span>
    <mat-select [formControl]="control"
                [placeholder]="placeholder | language"
                [required]="required"
                [compareWith]="compareWith">
        <mat-option *ngFor="let item of options" [value]="bindValue ? item[bindValue] : item">
            {{bindLabel ? item[bindLabel] : (bindValue ? item[bindValue] : item)}}
        </mat-option>
    </mat-select>
    <span matSuffix>
        <ng-content select="[suffix]" matSuffix></ng-content>
    </span>
    <mat-error *ngFor="let error of (control.errors | fieldErrors)">{{error}}</mat-error>
</mat-form-field>