<div>
    <mat-form-field appearance="standard">
        <mat-label>{{'ui.text.default.fromDate' | language}}</mat-label>
        <input matInput 
               [matDatepicker]="fromFilterDatepicker"
               [ngModel]="fromValue"
               (dateChange)="onFromChange($event)"
               (click)="fromFilterDatepicker.opened || fromFilterDatepicker.open()">
        <button mat-icon-button matSuffix (click)="onFromClearClicked()">
            <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
        </button>
        <mat-datepicker #fromFilterDatepicker></mat-datepicker>
    </mat-form-field>
</div>
<div>
    <mat-form-field appearance="standard">
        <mat-label>{{'ui.text.default.toDate' | language}}</mat-label>
        <input matInput 
               [matDatepicker]="toFilterDatepicker"
               [ngModel]="toValue"
               (dateChange)="onToChange($event)"
               (click)="toFilterDatepicker.opened || toFilterDatepicker.open()">
        <button mat-icon-button matSuffix (click)="onToClearClicked()">
            <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
        </button>
        <mat-datepicker #toFilterDatepicker></mat-datepicker>
    </mat-form-field>
</div>