<label>
    {{'ui.text.user.register.role' | language}}
</label>
<br/>
<mat-button-toggle-group [(value)]="role">
    <mat-button-toggle [value]="ROLE.EXECUTOR">
        {{'ui.text.user.executor' | language}}
    </mat-button-toggle>
    <mat-button-toggle [value]="ROLE.USER">
        {{'ui.text.user.title' | language}}
    </mat-button-toggle>
</mat-button-toggle-group>
<form [formGroup]="form" *ngIf="role != null" (ngSubmit)="registerAction()">
    <app-mat-input-wrapper
        label="ui.text.default.email"
        name="email"></app-mat-input-wrapper>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
        {{'ui.text.user.register.title' | language}}
    </button>
    <button type="button" class="btn btn-primary" (click)="cancelAction()">
        {{'ui.text.default.cancel' | language}}
    </button>
</form>