// ng-select
:host {
    width: 100%;
    ::ng-deep .ng-select.ng-select-single .ng-select-container {
        height: 20px;
        min-height: 20px;
        margin-top: 6px;
        line-height: normal;
        background-color: white;
        border: 1px solid #95A5A6;

        .ng-value-container {
            border-top: 0;

            .ng-value {
                margin-top: 2px; 
            }
        }

        .ng-arrow-wrapper {
            bottom: -2px;
        }
    }

    ::ng-deep .ng-select.ng-select-multiple .ng-select-container {
        height: 20px;
        min-height: 20px;
        margin-top: 6px;
        line-height: normal;
        background-color: white;
        border: 1px solid #95A5A6;

        .ng-arrow-wrapper {
            bottom: -2px;
        }
    }
}
