<app-modal 
    modalTitle="ui.text.report.modal.title"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    [primaryShow]="!params?.isViewOnly"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <fieldset [disabled]="params?.isViewOnly">
            <app-mat-datepicker-wrapper
                label="ui.text.report.date"
                name="date"
                (valueChange)="onDateChange($event)"
                *ngIf="params?.mode === TIMESHEET_REPORT_MODAL_MODE.PLAN"
                [min]="params?.minDate"></app-mat-datepicker-wrapper>
            <mat-ng-select-infinite-wrapper
                label="ui.text.user.title"
                name="userId"
                *ngIf="params?.mode === TIMESHEET_REPORT_MODAL_MODE.PLAN"
                [clearable]="true"
                [required]="true"
                bindLabel="viewName"
                bindValue="id"
                [loadDataCallback]="getUserLoadDataCallback"
                [converter]="userService.defaultUserConverter"></mat-ng-select-infinite-wrapper>
            <app-mat-input-wrapper
                label="ui.text.report.amount"
                type="number"
                name="amount"></app-mat-input-wrapper>
            <app-mat-input-wrapper
                label="ui.text.report.comment"
                type="textarea"
                name="comment"
                [disabled]="true"></app-mat-input-wrapper>
            <app-mat-input-wrapper
                label="ui.text.report.wbsId"
                name="wbsId"></app-mat-input-wrapper>
            <app-mat-input-wrapper
                label="ui.text.report.newComment"
                type="textarea"
                name="newComment"></app-mat-input-wrapper>
            <app-mat-select-wrapper
                label="ui.text.report.status"
                name="status"
                *ngIf="params?.mode !== TIMESHEET_REPORT_MODAL_MODE.PLAN"
                [options]="availableStatuses"
                bindLabel="label"
                bindValue="value"></app-mat-select-wrapper>
        </fieldset>
    </form>
</app-modal>