<h3>{{'ui.text.report.grid.title' | language}}</h3>
<p-table [value]="rows" sortField="timesheetCategoryId" [sortOrder]="1" (onEditInit)="editInit($event)">
    <ng-template pTemplate="caption">
        <mat-ng-select-infinite-wrapper
                label="ui.text.user.title"
                *ngIf="isReviewerMode"
                bindLabel="viewName"
                bindValue="id"
                [(value)]="userId"
                (valueChange)="userChanged()"
                [loadDataCallback]="getUserLoadDataCallback"
                [converter]="userService.defaultUserConverter"></mat-ng-select-infinite-wrapper>
            <app-mat-datepicker-wrapper
                label="ui.text.report.date"
                startView="multi-year"
                mode="month"
                [value]="date"
                (valueChange)="dateChanged($event)"></app-mat-datepicker-wrapper>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th atCell pSortableColumn="timesheetCategoryId">
                {{"ui.text.timesheetCategory.title" | language}}
                <p-sortIcon field="timesheetCategoryId"></p-sortIcon>
            </th>
            <th atCell pSortableColumn="wbsId">
                {{"ui.text.report.wbsId" | language}}
                <p-sortIcon field="wbsId"></p-sortIcon>
            </th>
            <th atCell *ngFor="let col of cols" >
                {{"ui.text.default.week" | language}} {{col.week}}<br/>
                <small>{{col.weekStart | date: 'MMM dd' : 'UTC'}} - {{col.weekEnd | date: 'MMM dd' : 'UTC'}}</small>
            </th>
            <th atCell>{{"ui.text.report.total" | language}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
        <tr>
            <td atCell
                [pEditableColumn]="entity"
                [pEditableColumnDisabled]="!entity.isNew"
                title="{{entity.timesheetCategoryDescription}}">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <app-mat-select-wrapper
                            [options]="availableTimesheetCategoryItems"
                            [(value)]="entity.timesheetCategoryId"
                            (valueChange)="timesheetSelected($event, entity)"
                            bindLabel="label"
                            bindValue="value"></app-mat-select-wrapper>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{entity.type === TIMESHEET_ROW_TYPE.TOTAL ? ('ui.text.report.total' | language) : (entity.timesheetCategoryId ? getTimesheetCategoryName(entity) : ('ui.text.default.selectPlaceholder' | language))}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td atCell
                [pEditableColumn]="entity"
                [pEditableColumnDisabled]="!entity.isNew">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input [(ngModel)]="entity.wbsId"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{entity.wbsId}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td atCell *ngFor="let col of cols">
                <div *ngIf="entity.type === TIMESHEET_ROW_TYPE.TOTAL">{{entity.weeks.get(col) ? entity.weeks.get(col).amount : 0}}</div>
                <div *ngIf="entity.type !== TIMESHEET_ROW_TYPE.TOTAL">
                    <div class="data-column">
                        <span [ngClass]="{
                                'text-info': entity.weeks.get(col) && entity.weeks.get(col).status?.value === 'POSTED',
                                'text-success': entity.weeks.get(col) && entity.weeks.get(col).status?.value === 'APPROVED',
                                'text-danger': entity.weeks.get(col) && entity.weeks.get(col).status?.value === 'DECLINED'
                            }"
                        >
                            {{entity.weeks.get(col) ? entity.weeks.get(col).amount : 0}}
                            <i  class="fa" title="{{entity.weeks.get(col).status?.label}}"
                                *ngIf="entity.weeks.get(col)"
                                [ngClass]="{
                                    'fa-bookmark': entity.weeks.get(col).status?.value === 'POSTED',
                                    'fa-check-circle': entity.weeks.get(col).status?.value === 'APPROVED',
                                    'fa-exclamation-circle': entity.weeks.get(col).status?.value === 'DECLINED'
                                }"></i>
                            <i  class="fas fa-comment" 
                                title="{{entity.weeks.get(col).comment.substring(0, 20)}}" 
                                *ngIf="entity.weeks.get(col) && entity.weeks.get(col).comment"></i>
                        </span>
                        <span>
                            <button type="button" 
                                    class="at-btn-fa-xs btn btn-sm btn-primary" 
                                    title="{{(!isEditableRow(entity.weeks.get(col)) ? 'ui.text.default.view' : (entity.timesheetCategoryId ? 'ui.text.default.edit' : 'ui.text.report.timesheetCategoryMandatory') ) | language}}"
                                    (click)="openModal(col, entity)"
                                    [disabled]="!entity.timesheetCategoryId || ((!entity.weeks.get(col) || !entity.weeks.get(col).amount) && !entity.wbsId)"
                            >
                                <i class="fas fa-xs" [ngClass]="isEditableRow(entity.weeks.get(col)) ? 'fa-edit' : 'fa-eye'"></i>
                            </button>
                            <button type="button"
                                    class="at-btn-fa-xs btn btn-sm btn-primary"
                                    title="{{'ui.text.review.approve' | language}}"
                                    style="margin-right: 4px"
                                    (click)="approveAction(entity.weeks.get(col))"
                                    *ngIf="isApprovableRow(entity.weeks.get(col))"
                            >
                                <i class="fas fa-xs fa-thumbs-up"></i>
                            </button>
                            <button type="button"
                                    class="at-btn-fa-xs btn btn-sm btn-primary"
                                    title="{{'ui.text.default.submit' | language}}"
                                    style="margin-right: 4px"
                                    (click)="submitAction(entity.weeks.get(col))"
                                    *ngIf="isSharableRow(entity.weeks.get(col))"
                            >
                                <i class="fas fa-xs fa-share-square"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </td>
            <td atCell>
                {{entity.isNew ? 0 : entity.totals.totalHours}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="row align-items-center">
            <div class="col">
                <button type="button" class="at-btn-fa btn btn-sm btn-primary" 
                        (click)="refreshAction()"
                        title="{{'ui.text.default.refresh' | language}}"
                >
                    <i class="fas fa-sync-alt"></i>
                </button>
                <button type="button" class="at-btn-fa btn btn-sm btn-primary" 
                        (click)="addRow()"
                        title="{{'ui.text.default.add' | language}}"
                        *ngIf="userId && userId > 0"
                >
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </ng-template>
</p-table>