<strong class="{{'text-' + data.type}}">{{data.title | language}}</strong>
<span *ngIf="!isArray(data.body)"> {{data.body | language: data.params}}</span>
<div *ngIf="isArray(data.body)">
    <p *ngFor="let bodyLine of data.body">{{bodyLine | language: data.params}}</p>
</div>

<a *ngFor="let link of data.links" target="_blank" [href]="link.link" (click)="onLinkClick(link)">
    <span *ngIf="!link.linkIcon">{{link.linkText | language}}</span>
    <i *ngIf="link.linkIcon"
       class="fa {{link.linkIcon}}"
       title="{{link.linkText | language}}"
    ></i>
</a>

<div class="mat-snackbar-action" *ngIf="data.dismissible">
    <button mat-button (click)="hide()" color="accent">Close</button>
</div>
