<h3>{{'ui.text.configuration.title' | language}}</h3>
<form [formGroup]="form">
    <div class="card">
        <div class="card-header">
            {{'ui.text.configuration.panelGeneral' | language}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" formControlName="timesheetMode">
                            {{'ui.text.configuration.timesheetMode' | language}}
                        </label>
                    </div>
                </div>
                <div class="col">
                    <app-mat-input-wrapper
                        label="ui.text.configuration.allowedAuthFailureCount"
                        type="number"
                        name="allowedAuthFailureCount"></app-mat-input-wrapper>
                </div>
                <div class="col">
                    <app-mat-input-wrapper
                        label="ui.text.configuration.supportEmail"
                        name="supportEmail"></app-mat-input-wrapper>
                </div>
            </div>
        </div>
        <div class="card-header">
            {{'ui.text.configuration.panelCron' | language}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <app-mat-input-wrapper
                        label="ui.text.configuration.userCron1"
                        name="userCron1"></app-mat-input-wrapper>
                </div>
                <div class="col">
                    <app-mat-input-wrapper
                        label="ui.text.configuration.userCron2"
                        name="userCron2"></app-mat-input-wrapper>
                </div>
                <div class="col">
                    <app-mat-input-wrapper
                        label="ui.text.configuration.managerCron1"
                        name="managerCron1"></app-mat-input-wrapper>
                </div>
                <div class="col">
                    <app-mat-input-wrapper
                        label="ui.text.configuration.managerCron2"
                        name="managerCron2"></app-mat-input-wrapper>
                </div>
                <div class="col">
                    <app-mat-input-wrapper
                        label="ui.text.configuration.bankCurrencyCron"
                        name="bankCurrencyCron"></app-mat-input-wrapper>
                </div>
            </div>
        </div>
        <div class="card-header">
            {{'ui.text.configuration.panelWorkload' | language}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <app-mat-input-wrapper
                        label="ui.text.configuration.userWeeklyWorkloadMax"
                        type="number"
                        name="userWeeklyWorkloadMax"></app-mat-input-wrapper>
                </div>
                <div class="col">
                    <app-mat-input-wrapper
                        label="ui.text.configuration.executorWeeklyWorkloadMax"
                        type="number"
                        name="executorWeeklyWorkloadMax"></app-mat-input-wrapper>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" 
                    class="btn btn-primary" 
                    (click)="save()"
            >{{'ui.text.default.save' | language}}</button>
        </div>
    </div>
</form>