<div routerLinkActive #routerLinkActiveInstance="routerLinkActive">
    <button 
        mat-button
        [matMenuTriggerFor]="menu"
        [ngClass]="{'mat-accent': routerLinkActiveInstance?.isActive}"
        [hidden]="hidden">
        {{name | language}}
        <mat-icon
            fontSet="fas" 
            fontIcon="fa-caret-down" 
            class="align-baseline"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button 
            *ngFor="let item of items"
            mat-menu-item
            [routerLink]="[item.routerLink]" 
            routerLinkActive 
            #routerLinkActiveInstance="routerLinkActive"
            [ngClass]="{'mat-accent': routerLinkActiveInstance?.isActive}"
            [hidden]="item.hidden && item.hidden()">
            {{item.name | language}}
        </button>
    </mat-menu>
</div>