<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a [routerLink]="['/home']">
            <img src="/images/logo1-1.png" />
        </a>
        <button mat-button 
            [routerLink]="['/home']" 
            routerLinkActive="mat-accent">
            {{'ui.text.navbar.home' | language}}
        </button>
        <navigation-mat-menu
            name="ui.text.navbar.report"
            [hidden]="!authService.isAuthorized"
            [items]="timesheetItems"></navigation-mat-menu>
        <navigation-mat-menu
            name="ui.text.navbar.administration"
            [hidden]="!authService.isAuthorized || authService.roles.indexOf(Role.EXECUTOR) === -1"
            [items]="adminItems"></navigation-mat-menu>
        <navigation-mat-menu
            name="ui.text.navbar.psr"
            [hidden]="!authService.isAuthorized"
            [items]="psrItem"></navigation-mat-menu>
        <button 
            mat-button 
            [routerLink]="['/codeOfConduct']" 
            routerLinkActive="mat-accent">
            {{'ui.text.navbar.codeOfConduct' | language}}
        </button>
        <div class="flex-grow-1"></div>
        <button 
            mat-button
            routerLinkActive="mat-accent"
            [routerLink]="['/user/login']" 
            [hidden]="authService.isAuthorized">
            {{'ui.text.user.login' | language}}
        </button>
        <button 
            mat-button
            [matMenuTriggerFor]="userMenu" 
            routerLinkActive
            #routerLinkActiveInstance="routerLinkActive"
            [ngClass]="{'mat-accent': routerLinkActiveInstance?.isActive}"
            [hidden]="!authService.isAuthorized">
            {{getUserName()}}
            <mat-icon
                fontSet="fas"
                fontIcon="fa-user"
                class="align-baseline"></mat-icon>
            <mat-icon
                fontSet="fas" 
                fontIcon="fa-caret-down" 
                class="align-baseline"></mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <button 
                mat-menu-item 
                [routerLink]="['/profile']" 
                routerLinkActive
                #routerLinkActiveInstance="routerLinkActive"
                [ngClass]="{'mat-accent': routerLinkActiveInstance?.isActive}">
                {{'ui.text.user.profile.title' | language}}
            </button>
            <button 
                mat-menu-item 
                href="javascript:void(0);" 
                (click)="stickyService.saveData()" 
                *ngIf="stickyService.dataMap.size">
                {{'ui.text.default.save' | language}} {{'ui.text.sticky.title' | language}}
            </button>
            <button 
                mat-menu-item
                href="javascript:void(0);" 
                (click)="logout($event)">
                {{'ui.text.user.logout' | language}}
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<div [ngClass]="{'container-fluid': router.url !== '/psr/plan'}">
    <router-outlet></router-outlet>
</div>