<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <h4>{{'ui.text.user.profile.title' | language}}</h4>
            <form [formGroup]="form" (ngSubmit)="updateProfileAction()" focusFirstInput>
                <app-mat-input-wrapper
                    label="ui.text.user.profile.firstName"
                    name="firstName"></app-mat-input-wrapper>
                <app-mat-input-wrapper
                    label="ui.text.user.profile.lastName"
                    name="lastName"></app-mat-input-wrapper>
                <app-mat-select-wrapper
                    label="ui.text.localization.title"
                    name="localizationId"
                    [options]="localizations"
                    bindLabel="label"
                    bindValue="value"></app-mat-select-wrapper>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" formControlName="receiveReminder">
                        {{'ui.text.user.profile.receiveReminder' | language}}
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">{{'ui.text.default.save' | language}}</button>
            </form>
        </div>
        <div class="col-4">
            <h4>{{'ui.text.user.changePassword' | language}}</h4>
            <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
                <app-mat-input-wrapper
                    label="ui.text.user.password"
                    type="password"
                    name="password"
                    [validOnPristine]="true"></app-mat-input-wrapper>
                <app-mat-input-wrapper
                    label="ui.text.user.register.confirmPassword"
                    type="password"
                    name="confirmPassword"
                    [validOnPristine]="true"></app-mat-input-wrapper>
                <button type="submit" class="btn btn-primary">{{'ui.text.user.updatePassword' | language}}</button>
            </form>
        </div>
    </div>
</div>