<div class="row justify-content-center">
    <mat-card>
        <form [formGroup]="loginComponent.form" (ngSubmit)="loginComponent.loginAction()">
            <mat-card-title>Please login</mat-card-title>
            <mat-card-content focusFirstInput>
                <app-login #loginComponent (loginSuccessfull)="loginSuccessfull()"></app-login>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button type="submit">Login</button>
                <!-- TODO: Disable until Diana decide we need registration feature and mail server is fixed -->
                <!-- <a mat-button [routerLink]="['/user/register']">
                    {{'ui.text.user.register.newHere' | language}}
                </a> -->
                <button
                    mat-button
                    type="button"
                    (click)="loginComponent.forgetPassword()"
                    [disabled]="loginComponent.form.value['login'].length == 0"
                >{{'ui.text.user.forgetPassword' | language}}</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>