<div [formGroup]="form" *ngIf="initialized && fields?.length">
    <div *ngFor="let field of fields" 
         [ngSwitch]="staticService.resolveEnumOnEntity(field.type, GENERIC_FIELD_TYPE)" 
         style="display: contents">
        <app-mat-select-wrapper *ngSwitchCase="GENERIC_FIELD_TYPE.SELECT"
                                [name]="GENERIC_FIELD_SERVICE.getFormFieldName(field)"
                                [label]="field.name"
                                [options]="field.genericFieldOptions"
                                bindLabel="description"
                                bindValue="value"></app-mat-select-wrapper>

        <mat-checkbox *ngSwitchCase="GENERIC_FIELD_TYPE.BOOLEAN" 
                      [formControlName]="GENERIC_FIELD_SERVICE.getFormFieldName(field)">{{field.name}}</mat-checkbox>

        <app-mat-datepicker-wrapper *ngSwitchCase="GENERIC_FIELD_TYPE.DATE"
                                    [name]="GENERIC_FIELD_SERVICE.getFormFieldName(field)"
                                    [label]="field.name"></app-mat-datepicker-wrapper>

        <app-mat-input-wrapper *ngSwitchDefault
                                [label]="field.name"
                                [name]="GENERIC_FIELD_SERVICE.getFormFieldName(field)"></app-mat-input-wrapper>
    </div>
</div>