<ng-select
    *ngIf="!editorParams.multiple"
    [items]="values"
    [bindLabel]="editorParams.bindLabel"
    [bindValue]="editorParams.bindValue"
    [addTag]="editorParams.addTag"
    appendTo="body"
    [hidden]="isHidden()"
    [formControl]="control"
    [matTooltip]="getFirstErrorMessage()"
    [multiple]="editorParams.multiple"></ng-select>

<ng-select
    *ngIf="editorParams.multiple"
    [items]="values"
    [bindLabel]="editorParams.bindLabel"
    [bindValue]="editorParams.bindValue"
    [addTag]="editorParams.addTag"
    appendTo="body"
    [hidden]="isHidden()"
    [formControl]="control"
    [matTooltip]="getFirstErrorMessage()"
    multiple="true"
>
    <ng-template ng-multi-label-tmp let-items="items" let-clear="clearItem">
        {{mapItems(items)}}
    </ng-template>
    <ng-template ng-option-tmp let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item$.label}}
    </ng-template>
</ng-select>
