// @import '../../../../../styles/material_variables';

// ng-select
:host ::ng-deep {
    .ng-select.ng-select-single,
    .ng-select.ng-select-multiple {
        .ng-select-container {
            height: 25px;
            min-height: 25px;
            margin-top: 1px;
            background-color: white;

            .ng-value-container {
                border-top: 0;

                .ng-input {
                    bottom: -1px;
                }

                // .ng-value {
                //     margin-top: -6px;
                // }

                .ng-placeholder {
                    margin-top: -5px;
                }
            }

            // .ng-arrow-wrapper {
            //     bottom: 4px;
            // }

            .ng-clear-wrapper {
                bottom: 1px;
            }
        }
    }

    // mat-select
    .mat-form-field-appearance-standard,
    .mat-form-field-appearance-fill {
        .mat-form-field-flex {
            padding-top: 0.3em;

            .mat-form-field-infix {
                padding-top: 0.4em;
                padding-bottom: 0.4em;
                border-top: 0;
            }
        }
    }

    .mat-form-field-appearance-fill {
        .mat-form-field-flex {
            background-color: white;
        }

        .mat-select-arrow-wrapper {
            padding-top: 0.7em;
        }
    }
}
