<mat-form-field [hintLabel]="hint | language" [appearance]="appearance">
    <mat-label>{{label | language}}</mat-label>
    <span matPrefix>
        <ng-content select="[prefix]" matPrefix></ng-content>
    </span>
    <input
        matInput 
        *ngIf="!isTextArea"
        [type]="type" 
        [name]="name"
        [formControl]="control"
        [placeholder]="placeholder | language"
        [readonly]="disabled"
        [required]="required">
    <textarea
        matInput 
        *ngIf="isTextArea"
        [name]="name"
        [formControl]="control"
        [placeholder]="placeholder | language"
        [readonly]="disabled"
        [required]="required"></textarea>
    <span matSuffix>
        <ng-content select="[suffix]" matSuffix></ng-content>
    </span>
    <mat-error *ngFor="let error of (control.errors | fieldErrors)">{{error}}</mat-error>
</mat-form-field>