<app-modal
    modalTitle="ui.text.user.reminder.title"
    [dialogRef]="dialogRef"
    primaryText="ui.text.default.submit"
    [primaryDisable]="form.invalid"
    (primaryClick)="saveAction()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <app-mat-datepicker-wrapper
            label="ui.text.user.reminder.date"
            name="date"></app-mat-datepicker-wrapper>
    </form>
</app-modal>