<app-modal 
    modalTitle="ui.text.timesheetCategory.title"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <app-mat-input-wrapper
            label="ui.text.timesheetCategory.name"
            name="name"></app-mat-input-wrapper>
        <app-mat-input-wrapper
            label="ui.text.timesheetCategory.description"
            name="description"></app-mat-input-wrapper>
        <app-mat-input-wrapper
            label="ui.text.timesheetCategory.initialBudget"
            name="initialBudget"
            type="number"></app-mat-input-wrapper>
        <app-mat-input-wrapper
            label="ui.text.timesheetCategory.contractDays"
            name="contractDays"
            type="number"></app-mat-input-wrapper>

        <mat-ng-select-infinite-wrapper
            label="ui.text.timesheetCategory.managers"
            name="managers"
            [clearable]="true"
            [required]="true"
            bindLabel="viewName"
            [loadDataCallback]="getUserLoadDataCallback"
            [multiple]="true"
            [converter]="userService.defaultUserConverter"></mat-ng-select-infinite-wrapper>
        
        <mat-checkbox formControlName="requireApproval">{{'ui.text.timesheetCategory.requireApproval' | language}}</mat-checkbox>
        <mat-checkbox formControlName="allowForPsr">{{'ui.text.timesheetCategory.allowForPsr' | language}}</mat-checkbox>
        <mat-checkbox formControlName="isActive">{{'ui.text.default.isActive' | language}}</mat-checkbox>

        <mat-accordion [hidden]="!genericFieldRenderer?.initialized || !genericFieldRenderer?.fields?.length">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{'ui.text.genericField.title' | language}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- content -->
                <genericFieldRenderer 
                    [type]="GENERIC_FIELD_ENTITY.TIMESHEET_CATEGORY" 
                    [parentForm]="form" 
                    [entity]="entity"
                    [fields]="genericFields"
                    (initialization)="ref.detectChanges()"
                    #genericFieldRenderer></genericFieldRenderer>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
</app-modal>