<app-modal 
    modalTitle="ui.text.payment.title"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <app-mat-datepicker-wrapper
            label="ui.text.payment.date"
            name="date"></app-mat-datepicker-wrapper>
        <app-mat-input-wrapper
            label="ui.text.payment.amount"
            type="number"
            name="amount"></app-mat-input-wrapper>
        <app-mat-input-wrapper
                label="ui.text.payment.description"
                name="description"></app-mat-input-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.currency.title"
            name="currencyId"
            [clearable]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="getCurrencyLoadDataCallback"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="isForPlan">
                {{'ui.text.payment.isForPlan' | language}}
            </label>
        </div>
    </form>
</app-modal>