:host ::ng-deep { 

    .mat-toolbar.toolbar-with-filters {
        .mat-toolbar-row {
            display: flex;

            > * {
                flex: 1 1 auto;
            }
            
            .sidenav-control {
                flex: none;
            }

            .control-holder {
                overflow-x: overlay;
                display: flex;
                align-items: baseline;
            }
        }

        .timesheet-category-selection .mat-form-field {
            width: 250px;
        }
    }

    .mat-sidenav {
        width: 230px;

        .mat-card .mat-card-header .mat-card-header-text {
            overflow-x: hidden;

            .mat-card-title {
                text-overflow: ellipsis;
                overflow-x: hidden;
                white-space: nowrap;

                &.explicit-wrap {
                    white-space: normal;
                }
            }
        }
    }

    .psr-grid {
        &.psr-total {
            align-self: flex-start;
        }

        .ui-table-tbody tr td {
            border-color: black;
            padding: 0.05em 0.75em;
        }

        .ui-widget-header {
            border: none;
        }

        .ui-table-scrollable-wrapper {
            border: 6px solid black !important;
        }

        tr {
            height: 24px;
        }
    
        tr.sub-total-frozen,
        tr.sub-total-body {
            background-color: lightslategray;
            
            td {
                font-weight: 700;
                padding: 0.05em 0;
            }
        }
    
        tr.sub-group-total-frozen,
        tr.sub-group-total-body {
            background-color: lightgray;

            td {
                font-weight: 400;
                font-style: italic;
                padding: 0.05em 0.25em;
            }
        }
    
        tr.progress-frozen,
        tr.progress-body {
            background-color: burlywood;
        }

        tr.income-frozen,
        tr.income-body {
            background-color: rgba(181, 252, 187, 0.75);
        }
    
        tr.at-widget-content-frozen {
            border-right: 6px solid black !important;
        }

        input {
            height: 24px;
        }
    }

    .psr-graph-container {
        display: flex; 
        flex-flow: column; 
        align-items: center; 
        justify-content: center;
    }

}