<mat-toolbar class="toolbar-with-filters">
    <mat-toolbar-row>
        <button
            type="button"
            class="sidenav-control"
            (click)="leftSideOpenChange()"
            mat-icon-button>
            <mat-icon
                fontSet="fas"
                [fontIcon]="leftSideOpen ? 'fa-angle-double-left' : 'fa-angle-double-right'"></mat-icon>
        </button>
        <span>{{'ui.text.psr.title' | language}}</span>
        <div class="control-holder">
            <mat-ng-select-infinite-wrapper
                class="timesheet-category-selection"
                [defaultSearch]="defaultSearch"
                [required]="true"
                [loadDataCallback]="getTimesheetCategoryLoadDataCallback"
                [value]="selectedTimesheetCategory"
                [converter]="timesheetCategoryConverter"
                label="ui.text.timesheetCategory.title"
                bindLabel="viewName"
                (valueChange)="timesheetCategoryChanged($event)"></mat-ng-select-infinite-wrapper>
            <app-mat-datepicker-wrapper
                label="ui.text.psr.dateFrom"
                required="true"
                startView="multi-year"
                mode="month"
                [disabled]="!!selectedRevision"
                [value]="dateFrom"
                (valueChange)="fromDateChanged($event)"></app-mat-datepicker-wrapper>
            <app-mat-datepicker-wrapper
                label="ui.text.psr.dateTo"
                required="true"
                startView="multi-year"
                mode="month"
                [disabled]="!!selectedRevision"
                [value]="dateTo"
                (valueChange)="toDateChanged($event)"></app-mat-datepicker-wrapper>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-slide-toggle
                [checked]="moneyHoursReportType" 
                (change)="moneyHoursReportTypeChange($event)" 
                style="width: 150px">
                {{(moneyHoursReportType ? 'ui.text.summary.money' : 'ui.text.summary.hours') | language}}
            </mat-slide-toggle>
            <mat-slide-toggle
                [checked]="isManualDates" 
                [disabled]="!!selectedRevision"
                (change)="isManualDatesValueChanged($event)" 
                style="width: 150px">
                {{(isManualDates ? 'ui.text.psr.manualDates' : 'ui.text.psr.autoDates') | language}}
            </mat-slide-toggle>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-button-toggle-group
                [value]="mode"
                (change)="modeChanged($event)">
                <mat-button-toggle *ngFor="let mode of modes" [value]="mode.value">
                    {{mode.label | language}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <button
            type="button"
            class="sidenav-control"
            (click)="rightSideOpenChange()"
            mat-icon-button>
            <mat-icon
                fontSet="fas"
                [fontIcon]="rightSideOpen ? 'fa-angle-double-right' : 'fa-angle-double-left'"
            ></mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div class="control-holder justify-content-center">
            <form [formGroup]="psrRevisionForm" (ngSubmit)="saveRevision()">
                <app-mat-input-wrapper
                    label="ui.text.psr.revision.name"
                    name="name"
                ></app-mat-input-wrapper>
                <button
                    type="submit"
                    [disabled]="!psrRevisionForm.value['name']"
                    mat-flat-button>
                    {{'ui.text.psr.saveRevision' | language}}
                </button>
            </form>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-ng-select-infinite-wrapper
                [loadDataCallback]="getPsrRevisionsLoadDataCallback"
                [clearable]="true"
                label="ui.text.psr.revision.title"
                bindLabel="name"
                (valueChange)="psrRevisionChanged($event)"
                [disabled]="!selectedTimesheetCategory"
                #psrRevisionSelection></mat-ng-select-infinite-wrapper>
            <mat-divider [vertical]="true"></mat-divider>
            <button
                type="button" 
                (click)="exportData()" 
                [disabled]="!selectedTimesheetCategory" 
                mat-flat-button>
                {{'ui.text.psr.export' | language}}
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="leftSideOpen">
        <mat-card>
            <div mat-card-image *ngIf="calculationResult && isGridReady">
                <canvas baseChart
                    #previewChart
                    width="210"
                    height="200"
                    [ngStyle]="{
                        'max-width': '210px', 
                        'width': '210px', 
                        'hieght': '200px',
                        'max-hieght': '200px'
                    }"
                    [plugins]="previewChartPlugins"
                    [datasets]="previewChartDataSets"
                    [options]="previewChartOptions"
                    chartType="doughnut">
                </canvas>
            </div>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.progress.title' | language}} {{'ui.text.psr.mode.plan' | language}}/{{'ui.text.psr.mode.fact' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.legend?.progressPlan | number: '1.2-2'}}%/{{calculationResult?.legend?.progressFact | number: '1.2-2'}}%</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.contractValue' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.plan?.incomeSubTotalRow?.totals?.amount2 | number: '1.2-2'}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header> 
                <mat-card-subtitle>{{'ui.text.psr.expectedProfitLoss' | language}}</mat-card-subtitle>
                <mat-card-title>
                    <span [ngClass]="calculationResult?.legend?.expectedProfitLoss < 0 ? 'text-danger' : 'text-success'">
                        {{calculationResult?.legend?.expectedProfitLoss | number: '1.2-2'}}<br/>
                        {{calculationResult?.legend?.expectedProfitLossPercentage | number: '1.2-2'}}%
                    </span>
                </mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.budgetAmount' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.legend?.budgetAmount | number: '1.2-2'}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.spentAmount' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.legend?.spentAmount | number: '1.2-2'}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.budgetSpent' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.legend?.budgetSpent | number: '1.2-2'}}%</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.estimatedToComplete' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.legend?.estimatedToComplete | number: '1.2-2'}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.forecastSpentAtCompletion' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.legend?.forecastSpentAtCompletion | number: '1.2-2'}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.forecastProfitLoss' | language}}</mat-card-subtitle>
                <mat-card-title>
                    <span [ngClass]="calculationResult?.legend?.forecastProfitLoss < 0 ? 'text-danger' : 'text-success'">
                        {{calculationResult?.legend?.forecastProfitLoss | number: '1.2-2'}}<br/>
                        {{calculationResult?.legend?.forecastProfitLossPercentage | number: '1.2-2'}}%
                    </span>
                </mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.invoiceAmount' | language}}</mat-card-subtitle>
            <mat-card-title>{{calculationResult?.legend?.invoiceAmount | number: '1.2-2'}} / {{calculationResult?.fact?.incomeSubTotalRow?.totals?.amount2}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.invoiceOutstanding' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.legend?.invoiceOutstanding | number: '1.2-2'}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.invoicePaid' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.fact?.incomeSubTotalRow?.totals?.amount | number: '1.2-2'}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.invoiceToBeInvoiced' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.legend?.invoiceToBeInvoiced | number: '1.2-2'}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.totalDaysOverdue' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.legend?.totalDaysOverdue}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.maxDaysOverdue' | language}}</mat-card-subtitle>
                <mat-card-title>{{calculationResult?.legend?.maxDaysOverdue}}</mat-card-title>
            </mat-card-header>
        </mat-card>
    </mat-sidenav>
    <mat-sidenav-content>
        <p-table class="psr-grid"
                 [value]="rows" 
                 sortField="name" 
                 [sortOrder]="1" 
                 [columns]="cols" 
                 [scrollable]="true" 
                 [style]="{width: gridWidth + 'px', 'min-height': gridHeight + 'px'}"
                 [scrollHeight]="gridHeight - 100 + 'px'"
                 frozenWidth="660px"
                 (sortFunction)="customSort($event)" 
                 [customSort]="true"
                 [resizableColumns]="true"
                 *ngIf="isGridReady && mode !== PSR_MODE.TOTAL"
                 (onEditInit)="cellEditInit($event)"
                 (onEditComplete)="cellEditComplete()"
                 (onEditCancel)="cellEditCancel()"
        >
            <ng-template pTemplate="frozenheader">
                <tr style="height: 66px; border-bottom: 5px solid black; border-right: 6px solid black;">
                    <th atCell pSortableColumn="name">
                        {{"ui.text.psr.company" | language}}
                        <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th atCell style="width: 100px;">
                        {{'ui.text.default.actions' | language}}
                    </th>
                    <th atCell>
                        {{(mode === PSR_MODE.PLAN ? 'ui.text.psr.toBeInvoiced' : 'ui.text.psr.invoiced') | language}}
                    </th>
                    <th atCell>
                        {{(mode === PSR_MODE.PLAN ? 'ui.text.psr.toBePaid' : 'ui.text.psr.paid') | language}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="header">
                <tr style="height: 66px; border-bottom: 6px solid black;">
                    <th atCell *ngFor="let col of cols; trackBy: columnTrackBy" pResizableColumn>
                        {{"ui.text.default.week" | language}} {{col.week}}<br/>
                        <small>{{col.weekStart | date: 'MMM dd' : 'UTC'}} - {{col.weekEnd | date: 'MMM dd' : 'UTC'}}</small>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns; trackBy: columnTrackBy" style="width:130px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="frozenbody" let-entity let-rowIndex="rowIndex">
                <tr class="ui-widget-content at-widget-content-frozen"
                    [ngClass]="{
                        'sub-total-frozen': entity.key.isGroupTotal,
                        'sub-group-total-frozen': entity.key.isSubGroupTotal && entity.key.type !== PSR_LINE_TYPE.TOTAL,
                        'progress-frozen': !entity.key.isGroupTotal && entity.key.type === PSR_LINE_TYPE.PROGRESS,
                        'income-frozen': !entity.key.isGroupTotal && entity.key.type === PSR_LINE_TYPE.INCOME
                    }"
                    [hidden]="isRowHidden(entity)"
                >
                    <td atCell title="{{entity.description}}">
                        <button mat-icon-button
                                color="accent"
                                type="button" 
                                class="datatable-row-collapse"
                                *ngIf="(entity.key.isGroupTotal || entity.key.isSubGroupTotal) && entity.key.type !== PSR_LINE_TYPE.TOTAL"
                                (click)="toggleRowGroupHiddenState(entity)">
                            <mat-icon fontSet="fas" class="fa-xs" [fontIcon]="getRowGroupHidden(entity) ? 'fa-angle-double-right' : 'fa-angle-double-down'"></mat-icon>
                        </button>
                        {{entity.additionalDescription || entity.name}}
                    </td>
                    <td style="width: 100px;">
                        <span *ngIf="isEditAllowed">
                            <span *ngIf="entity.key.type !== PSR_LINE_TYPE.TOTAL && entity.key.type !== PSR_LINE_TYPE.TIMESHEET && !entity.key.isGroupTotal && !entity.key.isSubGroupTotal && (mode === PSR_MODE.PLAN || (mode === PSR_MODE.FACT && authService.roles.indexOf(Role.ADMIN) > -1))">
                                <button type="button"
                                        (click)="showModal(entity.key.type, entity)"
                                        title="{{'ui.text.default.add' | language}}"
                                        class="at-btn-fa-xs btn btn-sm btn-primary"
                                >
                                    <i class="fas fa-plus fa-xs"></i>
                                </button>
                            </span>
                            <span *ngIf="entity.key.type === PSR_LINE_TYPE.INCOME && !entity.key.isGroupTotal && (mode === PSR_MODE.PLAN || (mode === PSR_MODE.FACT && authService.roles.indexOf(Role.ADMIN) > -1))">
                                <button type="button"
                                        (click)="showInvoiceModal(entity.invoice)"
                                        title="{{'ui.text.default.edit' | language}} {{'ui.text.payment.title' | language}}"
                                        class="at-btn-fa-xs btn btn-sm btn-primary"
                                >
                                    <i class="fas fa-edit fa-xs"></i>
                                </button>
                            </span>
                            <span *ngIf="entity.key.type === PSR_LINE_TYPE.PROGRESS && !entity.key.isGroupTotal && !entity.key.isSubGroupTotal">
                                <button type="button"
                                        (click)="showProgressAdjustmentMultiModal(entity.key.id, entity.key.subGroupId)"
                                        title="{{'ui.text.progressAdjustment.title' | language}}"
                                        class="at-btn-fa-xs btn btn-sm btn-primary"
                                >
                                    <i class="fas fa-arrows-alt-h fa-xs"></i>
                                </button>
                            </span>
                            <span *ngIf="mode === PSR_MODE.PLAN && entity.key.type === PSR_LINE_TYPE.TIMESHEET && !entity.key.isGroupTotal && !entity.key.isSubGroupTotal">
                                <button type="button"
                                        (click)="showTimesheetEntryMultiAddModal(entity.key.id)"
                                        title="{{'ui.text.default.add' | language}}"
                                        class="at-btn-fa-xs btn btn-sm btn-primary"
                                >
                                    <i class="fas fa-plus fa-xs"></i>
                                </button>
                                <button type="button"
                                        (click)="showTimesheetEntryMultiAdjustModal(entity.key.id)"
                                        title="{{'ui.text.timesheetAdjustment.title' | language}}"
                                        class="at-btn-fa-xs btn btn-sm btn-primary"
                                >
                                    <i class="fas fa-arrows-alt-h fa-xs"></i>
                                </button>
                                <button type="button"
                                        (click)="bulkTimesheetRemoval(entity.key.id)"
                                        title="{{'ui.text.psr.timesheetEntryMultiRemoveTitle' | language}}"
                                        class="at-btn-fa-xs btn btn-sm btn-primary"
                                >
                                    <i class="fas fa-trash fa-xs"></i>
                                </button>
                            </span>
                        </span>
                    </td>
                    <td atCell>
                        <span *ngIf="entity.key.type === PSR_LINE_TYPE.INCOME">
                            <i class="fas fa-star text-danger" 
                               *ngIf="!entity.key.isGroupTotal && !entity.key.isSubGroupTotal && isExpiredInvoice(entity)"
                               title="{{'ui.text.psr.noPaymentIssued' | language}}"></i>
                            {{entity.totalsInPeriod?.amount2 | number:'1.2-2'}}
                        </span>
                    </td>
                    <td atCell>
                        {{(hasUnits(entity) ? entity.totalsInPeriod?.units : entity.totalsInPeriod?.amount) | number:'1.2-2'}}
                        {{(entity.key.type === PSR_LINE_TYPE.PROGRESS && entity.totalsInPeriod?.amount ? '%' : '')}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-entity let-rowIndex="rowIndex">
                <tr class="ui-widget-content"
                    [ngClass]="{
                        'sub-total-body': entity.key.isGroupTotal,
                        'sub-group-total-body': entity.key.isSubGroupTotal && entity.key.type !== PSR_LINE_TYPE.TOTAL,
                        'progress-body': !entity.key.isGroupTotal && entity.key.type === PSR_LINE_TYPE.PROGRESS,
                        'income-body': !entity.key.isGroupTotal && entity.key.type === PSR_LINE_TYPE.INCOME
                    }"
                    [hidden]="isRowHidden(entity)"
                >
                    <td *ngFor="let col of cols; trackBy: columnTrackBy">
                        <div class="data-column"
                             title="{{lineItem?.description}}"
                             *ngIf="getColumn(entity, col); let lineItem; else elseBlock"
                             [pEditableColumn]="entity"
                             [pEditableColumnField]="col"
                             [pEditableColumnDisabled]="!isCellEditAllowed(entity, lineItem)">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input type="number" [(ngModel)]="lineItem[entity.key.type === PSR_LINE_TYPE.TIMESHEET ? 'units' : 'amount']">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <span>
                                        <i class="fas fa-star" 
                                           *ngIf="!entity.key.isGroupTotal && lineItem?.hasInvoice"
                                           title="{{'ui.text.invoice.title' | language}} {{'ui.text.invoice.datePlanned' | language}}"></i>
                                        <i class="text-warning fas fa-exclamation-triangle"
                                           *ngIf="!lineItem.errorMessage && lineItem.isDirty"
                                           title="{{'ui.text.grid.unsavedChanged' | language}}"></i>
                                        <i class="text-danger fas fa-exclamation-triangle"
                                           *ngIf="lineItem.errorMessage"
                                           title="{{lineItem.errorMessage}}"></i>
                                        {{(hasUnits(entity) ? lineItem?.units || '' : lineItem?.amount || '') | number:'1.2-2'}}
                                        {{(!!lineItem?.amount && entity.key.type === PSR_LINE_TYPE.PROGRESS ? '%' : '')}}
                                        &nbsp;
                                    </span>
                                    <span>
                                        <button type="button"
                                                class="at-btn-fa-xs btn btn-sm btn-primary"
                                                (click)="showModal(entity.key.type, entity, col, $event)"
                                                title="{{'ui.text.default.edit' | language}}"
                                                *ngIf="isEditAllowed && !entity.key.isGroupTotal && !entity.key.isSubGroupTotal && !!lineItem?.amount && (entity.key.type === PSR_LINE_TYPE.PROGRESS || (mode === PSR_MODE.PLAN || (mode === PSR_MODE.FACT && authService.roles.indexOf(Role.ADMIN) > -1)))"
                                        >
                                            <i class="fas fa-edit fa-xs"></i>
                                        </button>
                                    </span>
                                </ng-template>
                            </p-cellEditor>
                        </div>
                        <ng-template #elseBlock>&nbsp;</ng-template>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="align-items-center" *ngIf="isEditAllowed">
                    <span *ngIf="mode === PSR_MODE.PLAN">
                        <button type="button" 
                                class="btn btn-sm btn-primary"
                                title="{{'ui.text.timesheetMulti.title' | language}}" 
                                [disabled]="!selectedTimesheetCategory"
                                (click)="showTimesheetEntryMultiAddModal()"
                        >
                            <i class="fas fa-plus"></i>
                            {{'ui.text.timesheetMulti.title' | language}}
                        </button>
                    </span>
                    <span *ngIf="mode === PSR_MODE.PLAN || authService.roles.indexOf(Role.ADMIN) > -1">
                        <button type="button"
                                class="btn btn-sm btn-primary" 
                                title="{{'ui.text.default.add' | language}} {{'ui.text.invoice.title' | language}}"
                                [disabled]="!selectedTimesheetCategory"
                                (click)="showInvoiceModal()"
                        >
                            <i class="fas fa-plus"></i>
                            {{'ui.text.invoice.title' | language}}
                        </button>
                        <button type="button" 
                                class="btn btn-sm btn-primary" 
                                title="{{'ui.text.default.add' | language}} {{'ui.text.outcomeEntry.title' | language}}"
                                [disabled]="!selectedTimesheetCategory"
                                (click)="showModal(PSR_LINE_TYPE.OUTCOME)"
                        >
                            <i class="fas fa-plus"></i>
                            {{'ui.text.outcomeEntry.title' | language}}
                        </button>
                    </span>
                    <span *ngIf="mode !== PSR_MODE.TOTAL">
                        <button type="button" 
                                class="btn btn-sm btn-primary"
                                title="{{'ui.text.default.add' | language}} {{'ui.text.progress.title' | language}}"
                                [disabled]="!selectedTimesheetCategory"
                                (click)="showModal(PSR_LINE_TYPE.PROGRESS)"
                        >
                            <i class="fas fa-plus"></i>
                            {{'ui.text.progress.title' | language}}
                        </button>
                        <button 
                            type="button" 
                            class="btn btn-sm btn-primary" 
                            [disabled]="editedItems.size === 0"
                            title="{{'ui.text.default.save' | language}}"
                            (click)="saveEditedItems()"
                        >
                            <i class="fas fa-save"></i>
                            {{'ui.text.default.save' | language}}
                        </button>
                    </span>
                </div>
            </ng-template>
        </p-table>
        <mat-grid-list cols="2" 
                       [rowHeight]="graphRowHeight + 'px'"
                       *ngIf="calculationResult && isGridReady && mode === PSR_MODE.TOTAL">
            <mat-grid-tile rowspan="8">
                <p-table 
                    class="psr-grid psr-total"
                    [value]="calculationResult.totals" 
                    sortField="name" 
                    [sortOrder]="1" 
                    (sortFunction)="customSort($event)" 
                    [customSort]="true"
                    [resizableColumns]="true"
                    [scrollable]="true"
                    [scrollHeight]="gridHeight - 100 + 'px'"
                >
                    <ng-template pTemplate="header">
                        <tr style="border-bottom: 6px solid black">
                            <th atCell style="width:150px">
                                {{"ui.text.psr.company" | language}}
                            </th>
                            <th atCell>
                                {{'ui.text.psr.mode.plan' | language}} {{'ui.text.psr.projectTotal' | language}}
                            </th>
                            <th atCell>
                                {{'ui.text.psr.mode.fact' | language}} {{'ui.text.psr.projectTotal' | language}}
                            </th>
                            <th atCell>
                                {{'ui.text.psr.mode.plan' | language}} {{'ui.text.psr.periodTotal' | language}}
                            </th>
                            <th atCell>
                                {{'ui.text.psr.mode.fact' | language}} {{'ui.text.psr.periodTotal' | language}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-entity let-rowIndex="rowIndex">
                        <tr class="ui-widget-content"
                            [ngClass]="{
                                'sub-total-frozen': entity.key.isGroupTotal,
                                'sub-group-total-frozen': entity.key.isSubGroupTotal && entity.key.type !== PSR_LINE_TYPE.TOTAL,
                                'progress-frozen': !entity.key.isGroupTotal && entity.key.type === PSR_LINE_TYPE.PROGRESS,
                                'income-frozen': !entity.key.isGroupTotal && entity.key.type === PSR_LINE_TYPE.INCOME
                            }"
                            [hidden]="isRowHidden(entity)"
                        >
                            <td atCell style="width: 150px" [title]="entity.invoiceDaysOverdue > 0 ? ('ui.text.psr.overdueInvoice' | language): ''">
                                <button mat-icon-button
                                        color="accent"
                                        type="button" 
                                        class="datatable-row-collapse"
                                        *ngIf="(entity.key.isGroupTotal || entity.key.isSubGroupTotal) && entity.key.type !== PSR_LINE_TYPE.TOTAL"
                                        (click)="toggleRowGroupHiddenState(entity)">
                                    <mat-icon fontSet="fas" class="fa-xs" [fontIcon]="getRowGroupHidden(entity) ? 'fa-angle-double-right' : 'fa-angle-double-down'"></mat-icon>
                                </button>
                                <span [ngClass]="{'text-danger': entity.invoiceDaysOverdue > 0}">
                                    {{entity.additionalDescription || entity.name}}
                                </span>
                                <i class="fas fa-star text-danger" 
                                   title="{{'ui.text.psr.noPaymentIssued' | language}}"
                                   *ngIf="entity.key.type === PSR_LINE_TYPE.INCOME && !entity.key.isGroupTotal && !entity.key.isSubGroupTotal && isExpiredInvoice(entity)"></i>
                            </td>
                            <td atCell>
                                {{(hasUnits(entity) ? entity.totalsPlan?.units : entity.totalsPlan?.amount) | number:'1.2-2'}}
                                {{CONVERTER_SERVICE.getPercentagePrefix(entity)}}
                            </td>
                            <td atCell>
                                {{(hasUnits(entity) ? entity.totalsFact?.units : entity.totalsFact?.amount) | number:'1.2-2'}}
                                {{CONVERTER_SERVICE.getPercentagePrefix(entity)}}
                            </td>
                            <td atCell>
                                {{(hasUnits(entity) ? entity.totalsInPeriodPlan?.units : entity.totalsInPeriodPlan?.amount) | number:'1.2-2'}}
                                {{CONVERTER_SERVICE.getPercentagePrefix(entity)}}
                            </td>
                            <td atCell>
                                {{(hasUnits(entity) ? entity.totalsInPeriodFact?.units : entity.totalsInPeriodFact?.amount) | number:'1.2-2'}}
                                {{CONVERTER_SERVICE.getPercentagePrefix(entity)}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </mat-grid-tile>
            <mat-grid-tile rowspan="3">
                <div class="psr-graph-container">
                    <div>
                        <canvas baseChart 
                                #financialChart
                                [width]="graphWidth"
                                [height]="graphHeight"
                                [ngStyle]="{
                                    'max-width': graphWidth + 'px',
                                    'width': graphWidth + 'px',
                                    'max-height': graphHeight + 'px',
                                    'height': graphHeight + 'px'
                                }"
                                [labels]="weekChartLabels"
                                [options]="weekChartOptions"
                                [plugins]="weekChartPlugins"
                                [datasets]="financialChartData"
                                [colors]="financialChartColors"
                                chartType="line"
                        ></canvas>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="psr-graph-container">
                    <div>
                        <mat-slide-toggle [checked]="!ballanceChartHidden" (change)="toggleBallance()">
                            {{'ui.text.psr.projectCashFlow' | language}}
                        </mat-slide-toggle>
                        <mat-slide-toggle [checked]="!paymentsChartHidden" (change)="togglePayments()">
                            {{'ui.text.psr.income' | language}}
                        </mat-slide-toggle>
                        <mat-slide-toggle [checked]="!outcomeChartHidden" (change)="toggleOutcome()">
                            {{'ui.text.psr.outcome' | language}}
                        </mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle [checked]="!planChartHidden" (change)="togglePlan()">
                            {{'ui.text.psr.mode.plan' | language}}
                        </mat-slide-toggle>
                        <mat-slide-toggle [checked]="!factChartHidden" (change)="toggleFact()">
                            {{'ui.text.psr.mode.fact' | language}}
                        </mat-slide-toggle>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile rowspan="3">
                <div class="psr-graph-container">
                    <div>
                        <canvas baseChart
                            #progressChart
                            [width]="graphWidth"
                            [height]="graphHeight"
                            [ngStyle]="{
                                'max-width': graphWidth + 'px',
                                'width': graphWidth + 'px',
                                'max-height': graphHeight + 'px',
                                'height': graphHeight + 'px'
                            }"
                            [labels]="weekChartLabels"
                            [options]="weekChartOptions"
                            [datasets]="progressChartData"
                            [colors]="progressChartColors"
                            chartType="line"
                        ></canvas>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
    <mat-sidenav mode="side" position="end" [opened]="rightSideOpen">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.timesheetCategory.title' | language}}</mat-card-subtitle>
                <mat-card-title atCell>{{selectedTimesheetCategory?.name}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.timesheetCategory.description' | language}}</mat-card-subtitle>
                <mat-card-title atCell>{{selectedTimesheetCategory?.description}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.timesheetCategory.managers' | language}}</mat-card-subtitle>
                <mat-card-title class="explicit-wrap">
                    <span *ngFor="let manager of selectedTimesheetCategory?.managers">{{userService.getUserNameForView(manager)}}, </span>
                </mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.projectStart' | language}} {{'ui.text.psr.mode.plan' | language}}/{{'ui.text.psr.mode.fact' | language}}</mat-card-subtitle>
                <mat-card-title>{{dateLimits?.minPlan | date}}</mat-card-title>
                <mat-card-title>{{dateLimits?.minFact | date}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.projectFinish' | language}} {{'ui.text.psr.mode.plan' | language}}/{{'ui.text.psr.mode.fact' | language}}</mat-card-subtitle>
                <mat-card-title>{{dateLimits?.maxPlan | date}}</mat-card-title>
                <mat-card-title>{{dateLimits?.maxFact | date}}</mat-card-title>
            </mat-card-header>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.genericField.title' | language}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <genericFieldRenderer [entity]="selectedTimesheetCategory" 
                                      [type]="GENERIC_FIELD_ENTITY.TIMESHEET_CATEGORY" 
                                      [parentForm]="timesheetCategoryForm"
                                      [disabled]="!isEditAllowed"
                                      [fields]="genericFields"></genericFieldRenderer>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>{{'ui.text.psr.projectFields' | language}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="timesheetCategoryForm">
                    <app-mat-input-wrapper label="ui.text.timesheetCategory.initialBudget"
                                           name="initialBudget"
                                           type="number"></app-mat-input-wrapper>
                    <app-mat-input-wrapper label="ui.text.timesheetCategory.contractDays"
                                           name="contractDays"
                                           type="number"></app-mat-input-wrapper>
                </form>
                <button mat-raised-button
                        type="button" 
                        *ngIf="isEditAllowed"
                        [disabled]="timesheetCategoryForm.invalid"
                        (click)="updateManagerFields()">
                    {{'ui.text.default.save' | language}}
                </button>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>
</mat-sidenav-container>