.custom-ag-grid-wrapper-grid-container {
    display: flex;

    .grid-section {
        flex: 1 1 auto;
    }

    .border-left {
        border-left: 1px solid black;
    }
    
    .border-right {
        border-right: 1px solid black;
    }
    
}