<div *ngIf="gridOptions">
    <div class="custom-ag-grid-wrapper-grid-container ag-theme-balham">
        <div class="grid-section">
            <ag-grid-angular
                style="width: 100%"
                [style.height]="gridHeight"
                [gridOptions]="gridOptions"
                [noRowsOverlayComponentParams]="gridOptions.context.noRowsOverlayComponentParams"
            ></ag-grid-angular>
        </div>
        <side-bar 
            class="ag-ltr"
            [gridOptions]="gridOptions"
            [api]="api"
            [columnApi]="columnApi"></side-bar>
    </div>
    <div *ngIf="gridOptions.context.hasFooter || gridOptions.context.hasFooter == null">
        <div class="float-left" *ngIf="gridOptions.context.hasPagination || gridOptions.context.hasPagination == null">
            <span>Page size:</span>
            <select [ngModel]="getPaginationPageSize()" (ngModelChange)="setPaginationPageSize($event)">
                <option *ngFor="let size of gridOptions.context.paginationPageSizes" [ngValue]="size">{{size}}</option>
            </select>

            <span style="padding-left: 10px; padding-right: 10px;">{{getItemStart()}} to {{getItemEnd()}} of {{getTotalItemsString()}}</span>

            <button class="btn btn-link btn-sm fa fa-angle-double-left"
                    title="First page"
                    [disabled]="getCurrentPage() === 1"
                    (click)="api.paginationGoToFirstPage()"
            ></button>
            <button class="btn btn-link btn-sm fa fa-angle-left"
                    title="Previous page"
                    [disabled]="getCurrentPage() === 1"
                    (click)="api.paginationGoToPreviousPage()"
            ></button>

            <span>Page </span>
            <select [ngModel]="getCurrentPage()" (ngModelChange)="api.paginationGoToPage($event - 1)" [disabled]="!getTotalPages()">
                <option *ngFor="let dummy of ' '.repeat(getTotalPages()).split(''), let i = index" [ngValue]="i + 1">{{i + 1}}</option>
            </select>
            <span> of {{getTotalPagesString()}}</span>

            <button class="btn btn-link btn-sm fa fa-angle-right"
                    title="Next page"
                    [disabled]="!getTotalPages() || getTotalPages() == getCurrentPage()"
                    (click)="api.paginationGoToNextPage()"
            ></button>
            <button class="btn btn-link btn-sm fa fa-angle-double-right"
                    title="Last page"
                    [disabled]="!getTotalPages() || getTotalPages() == getCurrentPage()"
                    (click)="api.paginationGoToLastPage()"
            ></button>
        </div>
        <div class="float-right">
            <button class="btn btn-sm btn-primary fa fa-save"
                title="{{'ui.text.default.save' | language}}"
                type="button"
                (click)="saveMultiRows()"
                *ngIf="gridOptions.context.hasSaveButton || gridOptions.context.hasSaveButton == null"
            ></button>
            <button class="btn btn-sm btn-primary fa fa-plus"
                    title="{{'ui.text.default.add' | language}}"
                    (click)="addRow()"
                    *ngIf="gridOptions.context.hasAddButton"
            ></button>
            <button class="btn btn-sm btn-primary fa fa-sync"
                    title="{{'ui.text.default.refresh' | language}}"
                    (click)="api.refreshInfiniteCache()"
                    *ngIf="gridOptions.rowModelType === 'infinite'"
            ></button>
            <button class="btn btn-sm btn-primary fa fa-compress-arrows-alt"
                    title="{{'ui.text.grid.fitToWidth' | language}}"
                    (click)="setAutoSize()"
            ></button>
            <button class="btn btn-sm btn-primary fa fa-expand-arrows-alt"
                    title="{{'ui.text.grid.fitToContent' | language}}"
                    (click)="setAutoSize2()"
            ></button>
            <button class="btn btn-sm btn-primary fa fa-recycle"
                    title="{{'ui.text.grid.restoreOriginalGridState' | language}}"
                    (click)="restoreOriginalGridState()"
            ></button>
        </div>
        <div class="float-right">
            <ng-content select="[footer]"></ng-content>
            <appButtonList [buttons]="gridOptions.context.buttons" [context]="gridOptions.context.buttonsContext"></appButtonList>
        </div>
        <div class="float-right">
            <ng-content select="[buttons-placeholder]"></ng-content>
        </div>
    </div>
</div>
