<h3>{{'ui.text.debtorList.grid.title' | language}}</h3>

<mat-expansion-panel [(expanded)]="totalsAccordionExpanded">
    <mat-expansion-panel-header>
        <mat-panel-title>{{'ui.text.debtorListing.totals.title' | language}}</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-list>
                    <mat-list-item *ngFor="let statusSum of debtorResult?.statusTotals">
                        <div class="container">
                            <div class="row">
                                <div class="col-9"><b>{{statusSum.status.label | language}}:</b></div>
                                <div class="col-3">{{statusSum.amount | number: '1.2-2'}}</div>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-9"><b>{{'ui.text.debtorListing.totals.totalUnpaid' | language}}:</b></div>
                                <div class="col-3">{{debtorResult?.totalUnpaid | number: '1.2-2'}}</div>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="container">
                            <div class="row">
                                <div class="col-9"><b>{{'ui.text.debtorListing.totals.total' | language}}:</b></div>
                                <div class="col-3">{{debtorResult?.total | number: '1.2-2'}}</div>
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</mat-expansion-panel>

<appAtAgGrid
    [gridOptions]="gridOptions"
>
    <ng-container buttons-placeholder>
        <mat-checkbox [(ngModel)]="showOnlyActiveTimesheetCategories" (change)="showOnlyActiveTimesheetCategoriesChanged($event)">
            {{'ui.text.debtorList.grid.showOnlyActiveTimesheetCategories' | language}}
        </mat-checkbox>
    </ng-container>
</appAtAgGrid>