.text-nooverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*.form-control.ng-dirty{
    color: rgba(73, 73, 73, 0.67) !important;
}*/

.popover {
    max-width: 100% !important;
}

/* TODO: Font Awesome fix for input-groups. May break other parts. Be careful */
.fa {
    font-size: initial;

    &.fa-sort-desc,
    .fa-sort-desc {
        @extend .fa-sort-up;
    }

    &.fa-sort-asc,
    .fa-sort-asc {
        @extend .fa-sort-down;
    }
}

/*
Use it with bootstrap grid columns, but never add spaces between 2 divs. For example:
<div class="col-md-2 vertical-center">
</div><div class="col-md-10 vertical-center">
</div>
or
<div class="col-md-2 vertical-center">
</div><!--
--><div class="col-md-10 vertical-center">
</div>
*/

/* Pre bootstrap-flex solution */
.vertical-center {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

.vertical-center-flex {
    display: flex;
    align-items: center;
}

.hidden {
    display: none !important;
}

/*Small 'required' icon for form-label*/
.form-control-label .fa {
    font-size:0.5em;
}

/*PrimeNg to Bootstrap hacks*/
/*DataTable native Text filter. Add 'at' class to Column*/
.atInput-sm input {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
}

span.ui-autocomplete.atInput-sm input {
    font-size: 0.75rem !important;
}

/*Dropdown. Add 'at' class to dropdown*/
div.ui-dropdown.atInput-sm {
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
}

div.ui-dropdown.atInput-sm label.ui-dropdown-label {
    padding: 0.25rem 0.5rem !important;
}

/*Fix for using with Bootstrap 'form-control'*/
p-dropdown.form-control {
    padding: 0 !important;

    .ui-dropdown {
        height: 100%;

        .ui-dropdown-label {
            height: 100%;
        }
    }
}

.form-control .ui-dropdown {
    border: 0;
    width: 100% !important;
}

.form-control .ui-dropdown-label{
    border-radius: 0.25em !important;
}

.form-group.row {
    margin-bottom: 0;
}

/*Small paginator*/
.at-paginator-sm .ui-paginator-element {
    min-width: 1.5em !important;
}

.at-paginator-sm .ui-paginator-rpp-options {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.ui-paginator {
    border: none !important;
}

.ui-datatable-footer {
    background-color: white !important;
}

/*table-sm overrides*/
body .ui-datatable.at-table-sm .ui-datatable-data tr td,
body .ui-datatable.at-table-sm tr th {
    padding: 0.05em 0.5em;
}

body .ui-datatable.at-table-sm .ui-datatable-footer,
body .ui-datatable.at-table-sm .ui-datatable-header {
    padding: .3em 0.5em;
}

/*Input in DataTable filter shouldn't have bottom margin for 'help-test'*/
.ui-column-filter .form-group {
    margin-bottom: 0;
}

/*Grid-edit margin fix*/
.ui-editable-column.ui-editing-cell .form-group {
    margin: 0;
}

/*Bootstrap v4-beta fixes*/
.atInput-group.is-invalid .form-control {
    border-color: #dc3545!important;
}

.atInput-group.is-invalid .input-group-addon,
.atInput-group.is-invalid .input-group-btn {
    color: #d9534f;
    border-color: #d9534f;
    background-color: #fdf7f7;
}

/*textarea min-height === 3rows*/
textarea {
    min-height: 86px;
}

/*button*/
button:disabled {
    cursor: not-allowed;
}

.btn-xs {
    padding: .125rem .25rem;
    font-size: .875rem !important;
    line-height: 1.25;
    border-radius: .1rem;
}

.at-btn-fa {
    width: 34px;
    height: 34px;
}

.at-btn-fa-xs {
    margin-top: -0.25em;
    width: 21px;
    height: 21px;
    padding: 0;
}

/*Confirmation*/
.modal.confirmation-modal {
    z-index: 1060;
}

/*Notification*/
.notification-container {
    position: fixed; 
    width: 100%; 
    z-index: 10000000;
}

/*Table*/
.ui-table-scrollable-wrapper {
    border-right: 1px solid black;
}

.ui-table {
    .ui-table-thead>tr>th,
    .ui-table-tbody>tr>td,
    .ui-table-tfoot>tr>td {
        padding: 0.05em 0.5em;
    }
}

.ui-table,
.ui-datatable {
    td, th {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .data-column {
        display: grid;
        grid-template-columns: auto auto;
        height: 100%;
        justify-items: end;
    
        span {
            &:first-child {
                width: 100%;
            }
        }
    }
}

.summary-shorten-filter .atInput-group {
    max-width: 240px;
}

/*FileUpload*/
.ui-fileupload-choose.ui-button {
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-primary; 
    font-size: 0.5rem !important;

    .ui-button-icon-left {
        font-size: 1rem;
    }
}

// Angular Material
.cdk-overlay-container {
    z-index: 1051;
}

div.mat-dialog-content form {
    display: flex;
    flex-direction: column;

    .mat-form-field {
        width: 100%;
    }
}

.mat-toolbar .mat-divider-vertical {
    margin-left: 8px;
    margin-right: 8px;
}

// ng-select
.ng-select.ng-select-single,
.ng-select.ng-select-multiple {
    &.ng-select-focused {
        .ng-select-container {
            &:after {
                border-color: map-get($my-app-primary, 500);
            }
        }
    }

    &.ng-invalid {
        .ng-select-container {
            &:after {
                border-color: map-get($my-app-warn, 500);
                border-width: 2px;
            }
        }
    }
}

.ng-dropdown-panel {
    z-index: 1051 !important;
}

// quill fix - default quill styles apply to `.ql-editor` parent class. Fixing this to apply classes globally.
.ql-align-left {
    text-align: left;
}

.ql-align-center {
    text-align: center;
}

.ql-align-right {
    text-align: right;
}

.ql-size-huge {
    font-size: 2.5em;
}

.ql-size-large {
    font-size: 1.5em;
}

.ql-size-small {
    font-size: 0.75em;
}

// Shared class for all pages that require toolbar with filters. See PSR or TimehseetSummary.
.mat-toolbar.toolbar-with-filters {
    .mat-form-field,
    .mat-slide-toggle,
    .mat-button-toggle {
        font-size: 1rem;
        font-weight: 400;
    }

    .mat-divider {
        align-self: normal;
        height: 47px;
        margin-top: 18px;
    }

    .mat-button-toggle-group {
        flex: none;
    }

    .mat-button-base {
        font-size: 1rem;
        font-weight: 400;
    }
}

button.mat-icon-button.datatable-row-collapse {
    height: 21px;
    width: 21px;
    line-height: 21px;
}

// material fixes
.mat-form-field-prefix,
.mat-form-field-suffix {
    display: inline-flex;
    align-items: center;

    span[matsuffix],
    span[matprefix] {
        display: contents;
    }
}

.mat-menu-item.mat-accent {
    color: map-get($my-app-accent, 500);
}