@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-grey);
$my-app-accent:  mat-palette($mat-red);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);