@import './variables';

$fontFamily: Lucida Grande, Lucida Sans, Arial, sans-serif;
$fontSize: 1em;
$borderRadius: 6px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: $secondaryColor;
$headerBgColor: white;
$headerTextColor: #222222;
$headerFontWeight: bold;
$headerIconTextColor: #222222;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: $secondaryColor;
$contentBgColor: white;
$contentTextColor: #362b36;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: $secondaryColor;
$stateDefaultBgColor: lighten($primaryColor, 40%);
$stateDefaultTextColor: $primaryColor;

//Active State
$stateActiveBorderColor: $primaryColor;
$stateActiveBgColor: lighten($primaryColor, 10%);
$stateActiveTextColor: #ffffff;

//Highlight State
$stateHighlightBorderColor: $primaryColor;
$stateHighlightBgColor: lighten($primaryColor, 10%);
$stateHighlightTextColor: $stateActiveTextColor;

//Focus State
$stateFocusBorderColor: darken($stateActiveBorderColor, 20%);
$stateFocusBgColor: darken($stateActiveBgColor, 20%);
$stateFocusTextColor: darken($stateActiveTextColor, 20%);

//Error State
$stateErrorBorderColor: #cd0a0a;
$stateErrorBgColor: #cd0a0a;
$stateErrorTextColor: #ffffff;

//Hover State
$stateHoverBorderColor: darken($stateDefaultBorderColor, 20%);
$stateHoverBgColor: darken($stateDefaultBgColor, 20%);
$stateHoverTextColor: darken($stateDefaultTextColor, 20%);

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #222222;
$invalidInputBorderColor: #cd0a0a;
$inputGroupTextColor: #2779aa;