<mat-form-field appearance="fill" [hidden]="isHidden()">
    <input matInput
           style="height: 100%"
           [matDatepicker]="editorDatepicker" 
           [formControl]="control"
           [matTooltip]="getFirstErrorMessage()"
           (click)="editorDatepicker.opened || editorDatepicker.open()">
    <mat-datepicker #editorDatepicker></mat-datepicker>
</mat-form-field>