@keyframes spin{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.loader{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
    z-index: 2000;
 }

.wrapper{
    position: relative;
    top: 50%;
}

.spinner{
    font-size: 8em;
    margin: -50%;
    animation: spin 3s linear infinite;
}