<div *ngIf="visibleCount > 0" class="loader text-center">
    <div *ngIf="loaderContent.childNodes.length == 0" class="wrapper">
        <i class="fas fa-cog spinner"></i>
    </div>
    <div #loaderContent [ngClass]="{'hidden': loaderContent.childNodes.length == 0}"><!--
        --><ng-content></ng-content><!--
    --></div>
</div>