.revisions-selection-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}

:host ::ng-deep { 
    .timesheet-category-selection {
        .mat-form-field {
            width: 100%;
        }
    }
}
