<h3>{{'ui.text.projectSheet.grid.title' | language}}</h3>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{'ui.text.projectSheet.filter.title' | language}}</mat-card-title>
        <mat-card-subtitle>{{'ui.text.projectSheet.filter.subTitle' | language}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-ng-select-infinite-wrapper
            class="timesheet-category-selection"
            label="ui.text.timesheetCategory.title"
            [loadDataCallback]="getTimesheetCategoryLoadDataCallback"
            [defaultSearch]="defaultSearch"
            [converter]="timesheetCategoryConverter"
            [value]="selectedTimesheetCategories"
            (valueChange)="timesheetCategoryChanged($event)"
            (remove)="timesheetCategoryRemoved($event)"
            bindLabel="viewName"
            [required]="true"
            [multiple]="true"></mat-ng-select-infinite-wrapper>
        <div class="revisions-selection-container">
            <div *ngFor="let timesheetCategory of selectedTimesheetCategories" class="row align-items-baseline">
                <div class="col-5">{{timesheetCategory.viewName}}: </div>
                <mat-ng-select-infinite-wrapper
                    class="col-7"
                    label="ui.text.psr.revision.title"
                    [loadDataCallback]="getPsrRevisionsLoadDataCallback(timesheetCategory)"
                    [clearable]="true"
                    bindLabel="name"
                    (valueChange)="psrRevisionChanged($event, timesheetCategory)"
                    #psrRevisionSelection></mat-ng-select-infinite-wrapper>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button
            mat-flat-button
            color="primary"
            type="button"
            (click)="loadData()"
        >{{'ui.text.projectSheet.loadData' | language}}</button>
    </mat-card-actions>
</mat-card>

<appAtAgGrid [gridOptions]="gridOptions"></appAtAgGrid>