<div *ngIf="state === null">
    <h4>{{'ui.text.user.changePassword' | language}}</h4>
    <form [formGroup]="form" (ngSubmit)="updatePassword()">
        <app-mat-input-wrapper
            label="ui.text.user.password"
            type="password"
            name="password"></app-mat-input-wrapper>
        <app-mat-input-wrapper
            label="ui.text.user.register.confirmPassword"
            type="password"
            name="confirmPassword"></app-mat-input-wrapper>
        <button type="submit" class="btn btn-primary"
                [disabled]="!form.valid"
        >{{'ui.text.user.updatePassword' | language}}</button>
    </form>
</div>
<div *ngIf="state === true">
    <h2>Your password has been successfully updated.</h2>
    <hr/>
    <p>
        Thank you for activating your account. Welcome back to Kabanchik community.
        Please login using your credentials. You will be redirected to login page in <b>{{seconds}}</b> seconds...
    </p>
</div>
<div *ngIf="state === false">
    <h2>We cannot confirm your account.</h2>
    <hr/>
    <p>That could happen due to few reasons:</p>
    <ul>
        <li>Provided security code is not valid. Please try to manually copy link from email and try to activate your account once again.</li>
        <li>Your account already has been activated. You can try to login using your password or use "Forget Password" from login form.</li>
        <li>Your account has been permanently blocked. That may happen due to numerous consecutive activation attempts. Please check your email for further instructions.</li>
    </ul>
    <p>You will be redirected to home page in <b>{{seconds}}</b> seconds...</p>
</div>