<app-modal
    modalTitle="ui.text.timesheetAccess.bulkUsersAdd"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <mat-ng-select-infinite-wrapper
            label="ui.text.timesheetCategory.title"
            name="timesheetCategoryId"
            [clearable]="true"
            [required]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="getTimesheetCategoryLoadDataCallback"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.timesheetAccess.users"
            name="userIds"
            [required]="true"
            bindLabel="viewName"
            bindValue="id"
            [loadDataCallback]="getUserLoadDataCallback"
            [multiple]="true"
            [converter]="userService.defaultUserConverter"></mat-ng-select-infinite-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.timesheetRate.from"
            name="from"></app-mat-datepicker-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.timesheetRate.to"
            name="to"></app-mat-datepicker-wrapper>
    </form>
</app-modal>