<app-modal
    modalTitle="ui.text.timesheetAccess.bulkUsersAdd"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <mat-ng-select-infinite-wrapper
            label="ui.text.user.title"
            name="userId"
            [clearable]="true"
            [required]="true"
            bindLabel="viewName"
            bindValue="id"
            [loadDataCallback]="getUserLoadDataCallback"
            [converter]="userService.defaultUserConverter"></mat-ng-select-infinite-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.timesheetAccess.categories"
            name="timesheetCategoryIds"
            [clearable]="true"
            [required]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="getTimesheetCategoryLoadDataCallback"
            [multiple]="true"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
        <!-- <app-mat-datepicker-wrapper
            label="ui.text.timesheetRate.from"
            name="dateFrom"></app-mat-datepicker-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.timesheetRate.to"
            name="dateTo"></app-mat-datepicker-wrapper> -->
    </form>
</app-modal>