<button class="btn btn-xs btn-primary fa fa-trash"
        [ngClass]="{'text-warning': getContext().$deletedRows.has(params.rowIndex)}"
        title="Delete row"
        *ngIf="isDeleteAllowed"
        (click)="deleteRow()">
</button>
<button class="btn btn-xs btn-primary fa fa-save"
        title="Save changes"
        *ngIf="isSaveAllowed()"
        (click)="savePressed()">
</button>
<appButtonList [buttons]="getContext()?.actionsColumnContext?.actionColumnButtons" [context]="params"></appButtonList>
