<mat-form-field [hintLabel]="hint | language" [appearance]="appearance">
    <mat-label>{{label | language}}</mat-label>
    <mat-datepicker-toggle
        matPrefix
        [disabled]="disabled"
        [for]="picker"></mat-datepicker-toggle>
    <input matInput 
           [matDatepicker]="picker" 
           [name]="name"
           [formControl]="control" 
           [placeholder]="placeholder | language" 
           [required]="required"
           [readonly]="disabled"
           [min]="_min"
           [max]="_max">
    <mat-datepicker
        #picker 
        [startView]="startView"
        (yearSelected)="chosenYearHandler($event, picker)"
        (monthSelected)="chosenMonthHandler($event, picker)"></mat-datepicker>
    <mat-error *ngFor="let error of (control.errors | fieldErrors)">{{error}}</mat-error>
</mat-form-field>