:host ::ng-deep {
    .mat-form-field-appearance-standard,
    .mat-form-field-appearance-fill {
        .mat-form-field-flex {
            padding-top: 0.3em;

            .mat-form-field-infix {
                padding-top: 0.4em;
                padding-bottom: 0.4em;
                border-top: 0;
            }
        }
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: white;
    }
}