<app-modal 
    modalTitle="ui.text.outcomeEntry.title"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <app-mat-datepicker-wrapper
            label="ui.text.outcomeEntry.date"
            name="date"></app-mat-datepicker-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.timesheetCategory.title"
            name="timesheetCategoryId"
            [clearable]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="getTimesheetCategoryLoadDataCallback"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
        <app-mat-input-wrapper
            label="ui.text.outcomeEntry.amount"
            type="number"
            name="amount"></app-mat-input-wrapper>
        <app-mat-input-wrapper
            label="ui.text.outcomeEntry.description"
            name="description"></app-mat-input-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.currency.title"
            name="currencyId"
            [clearable]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="getCurrencyLoadDataCallback"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
        <app-mat-select-wrapper
            label="ui.text.outcomeEntry.outcomeEntryType"
            name="outcomeEntryType"
            [options]="outcomeEntryTypeOptions"
            bindLabel="label"
            bindValue="value"
            (valueChange)="typeChanged()"></app-mat-select-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.outcomeEntry.parent"
            name="parentId"
            [clearable]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="parentLoadDataCallback"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="isForPlan">
                {{'ui.text.outcomeEntry.isForPlan' | language}}
            </label>
        </div>
    </form>
</app-modal>