<h3>{{"ui.text.outcomeEntry.grid.title" | language}}</h3>
<appAtAgGrid [gridOptions]="gridOptions">
    <p-fileUpload
        footer
        mode="basic" 
        auto="true"
        customUpload="true"
        maxFileSize="2097152"
        (uploadHandler)="csvImport($event.files[0])"
        chooseLabel="{{'ui.text.upload.csvUpload' | language}}"
        invalidFileSizeMessageSummary="{{'ui.validation.default.upload.invalidFileSizeMessageSummary' | language}}"
        invalidFileSizeMessageDetail="{{'ui.validation.default.upload.invalidFileSizeMessageDetail' | language}}"
        [disabled]="intervalSubscriptions.size"
    ></p-fileUpload>
</appAtAgGrid>