<span [ngClass]="{'text-danger': invalid, 'text-warning': dirty}">
    <i *ngIf="!invalid && dirty" class="fas fa-exclamation-triangle" title="{{'ui.text.grid.unsavedChanged' | language}}"></i>
    <i *ngIf="invalid" class="fas fa-exclamation-triangle" title="{{'ui.text.default.invalid' | language}}"></i>
    {{params.formatValue(params.getValue())}}
</span>
