<app-modal 
    modalTitle="ui.text.timesheetMulti.title"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <mat-ng-select-infinite-wrapper
            label="ui.text.user.title"
            name="userId"
            [clearable]="true"
            bindLabel="viewName"
            bindValue="id"
            [loadDataCallback]="getUserLoadDataCallback"
            [converter]="userService.defaultUserConverter"></mat-ng-select-infinite-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.timesheetMulti.dateFrom"
            name="dateFrom"></app-mat-datepicker-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.timesheetMulti.dateTo"
            name="dateTo"></app-mat-datepicker-wrapper>
        <app-mat-input-wrapper
            label="ui.text.report.amount"
            type="number"
            name="amount"></app-mat-input-wrapper>
    </form>
</app-modal>