<div class="modal-header">
    <h4 class="modal-title pull-left">{{'ui.text.default.timesheet' | language}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideAction()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p-table
        [value]="data?.rows"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>{{'ui.text.default.id' | language}}</th>
                <th>{{'ui.text.report.amount' | language}}</th>
                <th>{{'ui.text.report.comment' | language}}</th>
                <th>{{'ui.text.report.date' | language}}</th>
                <th>{{'ui.text.default.actions' | language}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entity>
            <tr>
                <td atCell>{{entity.id}}</td>
                <td atCell>{{entity.amount}}</td>
                <td atCell>{{entity.comment}}</td>
                <td atCell>{{entity.date | date:'mediumDate':'+0000'}}</td>
                <td>
                    <button type="button" class="at-btn-fa btn btn-sm btn-primary" 
                        (click)="showAction(entity)"
                        title="{{'ui.text.default.edit' | language}}"
                    >
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="at-btn-fa btn btn-sm btn-primary" 
                        (click)="deleteAction(entity)"
                        title="{{'ui.text.default.delete' | language}}"
                    >
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="hideAction()">
        {{'ui.text.default.close' | language}}
    </button>
</div>