<app-modal 
    modalTitle="ui.text.timesheetAdjustment.title"
    [dialogRef]="dialogRef"
    primaryText="ui.text.default.save"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <app-mat-input-wrapper
            label="ui.text.timesheetAdjustment.adjustmentWeeks"
            type="number"
            name="adjustmentWeeks"></app-mat-input-wrapper>
        <app-mat-input-wrapper
            label="ui.text.timesheetAdjustment.adjustmentAmount"
            type="number"
            name="adjustmentAmount"></app-mat-input-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.user.title"
            name="adjustmentUserId"
            [clearable]="true"
            bindLabel="viewName"
            bindValue="id"
            [loadDataCallback]="getUserLoadDataCallback"
            [converter]="userService.defaultUserConverter"></mat-ng-select-infinite-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.timesheetAdjustment.fromDate"
            name="adjustmentFromDate"></app-mat-datepicker-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.timesheetAdjustment.toDate"
            name="adjustmentToDate"></app-mat-datepicker-wrapper>
    </form>
</app-modal>