<mat-form-field [hintLabel]="hint | language" [appearance]="appearance">
    <mat-label>{{label | language}}</mat-label>
    <ng-select-infinite-wrapper 
        ngSelectMat 
        [control]="control"
        [value]="value"
        [clearable]="clearable"
        [required]="required"
        [loadDataCallback]="loadDataCallback"
        [bindLabel]="bindLabel"
        [bindValue]="bindValue"
        [defaultSearch]="defaultSearch"
        [name]="name"
        [multiple]="multiple"
        [converter]="converter"
        (valueChange)="valueChange"
        (add)="_add($event)"
        (remove)="_remove($event)"
        (dataLoaded)="_dataLoaded($event)"
        [disabled]="disabled"
        #ngSelectControlWrapper></ng-select-infinite-wrapper>
    <mat-error *ngFor="let error of (ngSelectControlWrapper.control.errors | fieldErrors)">{{error}}</mat-error>
</mat-form-field>