<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <h2 mat-dialog-title 
        cdkDragHandle
        *ngIf="modalTitleInjected.childNodes.length == 0">
        {{modalTitle | language}}
        <button mat-icon-button 
                tabindex="-1"
                style="float: right"
                *ngIf="hasX"
                (click)="onX()">
            <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
        </button>
    </h2>
    <h2 mat-dialog-title #modalTitleInjected>
        <ng-content select="[modal-header]"></ng-content>
    </h2>
    <div mat-dialog-content>
        <ng-content></ng-content>
    </div>
    <div mat-dialog-actions *ngIf="modalFooterInjected.childNodes.length == 0" align="end">
        <ng-content select="[modal-footer-prepend]"></ng-content>
        <button mat-raised-button
                color="accent"
                [disabled]="primaryDisable"
                *ngIf="primaryShow"
                (click)="onPrimary()">
            <span>
                <mat-icon *ngIf="primaryIcon" fontSet="fas" [fontIcon]="primaryIcon"></mat-icon>
                {{primaryText | language}}
            </span>
        </button>
        <button mat-raised-button
                [disabled]="secondaryDisable"
                *ngIf="secondaryShow"
                (click)="onSecondary()">
            <span>
                <mat-icon *ngIf="primaryIcon" fontSet="fas" [fontIcon]="secondaryIcon"></mat-icon>
                {{secondaryText | language}}
            </span>
        </button>
    </div>
    <div mat-dialog-actions #modalFooterInjected>
        <ng-content select="[modal-footer]"></ng-content>
    </div>
</div>
