<div style="width: 100%;">
    <ng-select [items]="values"
               [bindLabel]="params.bindLabel"
               [bindValue]="params.bindValue"
               appendTo="body"
               [(ngModel)]="value"
               (ngModelChange)="onChange($event)"
               [multiple]="params.multiple"
    ></ng-select>
</div>
