// ng-select
:host {
    width: 100%;
    ::ng-deep .ng-select.ng-select-single .ng-select-container {
        height: 20px;
        min-height: 20px;
        margin-top: 6px;
        line-height: normal;
        background-color: white;
        border: 1px solid #95A5A6;

        .ng-value-container {
            border-top: 0;

            .ng-value {
                margin-top: 2px; 
            }
        }

        .ng-arrow-wrapper {
            bottom: -2px;
        }
    }

    ::ng-deep .ng-select.ng-select-multiple .ng-select-container {
        height: 20px;
        min-height: 20px;
        margin-top: 6px;
        line-height: normal;
        background-color: white;
        border: 1px solid #95A5A6;

        .ng-arrow-wrapper {
            bottom: -2px;
        }
    }
}

// mat-select
:host ::ng-deep {
    .mat-form-field-appearance-standard,
    .mat-form-field-appearance-fill {
        .mat-form-field-flex {
            padding-top: 0.15em;
        }

        .mat-form-field-infix {
            padding-top: 0.1em;
            padding-bottom: 0.1em;
            border-top: 0.2em solid transparent;
        }
    }

    .mat-form-field-appearance-fill {
        .mat-form-field-flex {
            background-color: white;
        }

        .mat-select-arrow-wrapper {
            padding-top: 0.7em;
        }
    }
}
