<h3>{{'ui.text.staticContent.title' | language}}</h3>
<mat-card>
    <mat-card-content>
        <app-mat-select-wrapper
            label="ui.text.staticContent.title"
            [options]="types"
            [(value)]="type"
            (valueChange)="loadContent()"
            bindLabel="label"
            bindValue="value"></app-mat-select-wrapper>
        <app-mat-select-wrapper
            label="ui.text.localization.title"
            [options]="localizations"
            [(value)]="localizationId"
            (valueChange)="loadContent()"
            bindLabel="label"
            bindValue="value"></app-mat-select-wrapper>
        <app-editor [(ngModel)]="text" [style]="{'height':'320px'}" [hidden]="!text">
            <!-- TODO: remove when image upload is implemented -->
            <p-header>
                <span class="ql-formats">
                    <select class="ql-font ql-picker"></select>
                    <select class="ql-size ql-picker"></select>
                </span>
                <span class="ql-formats">
                    <button title="Bold" class="ql-bold"></button>
                    <button title="Italic" class="ql-italic"></button>
                    <button title="Underline" class="ql-underline"></button>
                    <button title="Strikethrough" class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                    <select class="ql-color ql-picker ql-color-picker"></select>
                    <select class="ql-background ql-picker ql-color-picker"></select>
                </span>
                <span class="ql-formats">
                    <button class="ql-list" value="ordered" type="button"></button>
                    <button class="ql-list" value="bullet" type="button"></button>
                    <select class="ql-align ql-picker ql-icon-picker"></select>
                </span>
                <span class="ql-formats">
                    <button aria-label="Insert Link" class="ql-link" type="button"></button>
                    <button aria-label="Insert Code Block" class="ql-code-block" type="button"></button>
                </span>
                <span class="ql-formats">
                    <button aria-label="Remove Styles" class="ql-clean" type="button"></button>
                </span>
            </p-header>
        </app-editor>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-raised-button
            color="accent"
            type="button"
            [disabled]="!type || !localizationId"
            (click)="save()">
            {{'ui.text.default.save' | language}}
        </button>
    </mat-card-actions>
</mat-card>