<app-modal 
    modalTitle="ui.text.invoice.title"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <app-mat-datepicker-wrapper
            label="ui.text.invoice.datePlanned"
            name="datePlanned"></app-mat-datepicker-wrapper>
        <app-mat-datepicker-wrapper
            label="ui.text.invoice.datePosted"
            name="datePosted"></app-mat-datepicker-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.timesheetCategory.title"
            name="timesheetCategoryId"
            [clearable]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="getTimesheetCategoryLoadDataCallback"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
        <app-mat-input-wrapper
            label="ui.text.invoice.amount"
            type="number"
            name="amount"></app-mat-input-wrapper>
        <app-mat-input-wrapper
            label="ui.text.invoice.description"
            name="description"></app-mat-input-wrapper>
        <app-mat-select-wrapper
            label="ui.text.invoice.status"
            name="status"
            [options]="statuses"
            bindLabel="label"
            bindValue="value"></app-mat-select-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.currency.title"
            name="currencyId"
            [clearable]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="getCurrencyLoadDataCallback"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.customer.title"
            name="customerId"
            [clearable]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="getCustomerLoadDataCallback"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
    </form>
</app-modal>