<app-modal 
    modalTitle="ui.text.departmentAccess.bulkDepartmentsAdd"
    [dialogRef]="dialogRef"
    [primaryText]="getPrimaryText()"
    [primaryDisable]="form.invalid"
    (primaryClick)="save()"
    (secondaryClick)="hide()">
    <form [formGroup]="form">
        <mat-ng-select-infinite-wrapper
            label="ui.text.timesheetCategory.title"
            name="timesheetCategoryId"
            [clearable]="true"
            [required]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="getTimesheetCategoryLoadDataCallback"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
        <mat-ng-select-infinite-wrapper
            label="ui.text.department.title"
            name="departmentIds"
            [required]="true"
            bindLabel="label"
            bindValue="value"
            [loadDataCallback]="getDepartmentLoadDataCallback"
            [multiple]="true"
            [converter]="converterService.defaultSelectItemsConverter"></mat-ng-select-infinite-wrapper>
    </form>
</app-modal>