:host ::ng-deep {
    .mat-form-field-appearance-standard,
    .mat-form-field-appearance-fill {
        .mat-form-field-infix {
            margin-top: -6px;
            border-top: 0;
            width: auto;
        }
    }

    .mat-form-field-appearance-fill {
        .mat-form-field-flex {
            border: 1px solid #95A5A6;
            border-radius: 0;
            background-color: white;
            height: 20px;
            margin-top: 6px;
        }
    }
}