<mat-form-field appearance="fill">
    <input matInput
           [matDatepicker]="filterDatepicker"
           [ngModel]="value"
           (dateChange)="onChange($event)"
           (focus)="filterDatepicker.opened || filterDatepicker.open()"
           (click)="filterDatepicker.opened || filterDatepicker.open()">
    <mat-datepicker #filterDatepicker></mat-datepicker>
</mat-form-field>