<div class="ag-side-bar ag-unselectable ag-side-bar-right">
    <div class="ag-side-buttons">
        <div class="ag-side-button" [ngClass]="isColumnsToolbarOpen && 'ag-selected'">
            <button type="button" class="ag-side-button-button" (click)="toggleColumnsToolbar()">
                <div class="ag-side-button-icon-wrapper">
                    <span class="ag-icon ag-icon-columns"></span>
                    <span class="ag-side-button-label">{{'ui.text.grid.columns' | language}}</span>
                </div>
            </button>
        </div>
    </div>
    <div class="ag-tool-panel-wrapper" *ngIf="isColumnsToolbarOpen">
        <div class="ag-column-panel">
            <div class="ag-column-select ag-column-panel-column-select">
                <div class="ag-column-select-header">
                    <div class="ag-input-wrapper ag-primary-cols-filter-wrapper">
                        <input 
                            class="ag-primary-cols-filter"
                            type="text"
                            [placeholder]="'ui.text.grid.columnsSearch' | language"
                            #test
                            (input)="columnsFilterChanged($event)" />
                    </div>
                </div>
                <div class="ag-column-select-list">
                    <div 
                        class="ag-column-select-column"
                        [ngClass]="'ag-column-select-indent-' + col.indetation"
                        *ngFor="let col of visibleColumns">
                        <span class="pin-button">
                            <i 
                                class="fas fa-thumbtack"
                                [ngClass]="getPinClass(col.colOrGroup)"
                                (click)="togglePin(col.colOrGroup)"></i>
                        </span>
                        <div class="ag-column-select-checkbox ag-labeled ag-label-align-right ag-checkbox ag-input-field" (click)="toggleColumnVisibility(col.colOrGroup)">
                            <div class="ag-wrapper ag-input-wrapper ag-checkbox-input-wrapper" [ngClass]="getCheckboxClass(col.colOrGroup)">
                                <input class="ag-input-field-input ag-checkbox-input" type="checkbox"/>
                            </div>
                        </div>
                        <span class="ag-column-tool-panel-column-label" (click)="toggleColumnVisibility(col.colOrGroup)">{{col.displayName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>