<app-modal 
    [modalTitle]="data.title"
    [dialogRef]="dialogRef"
    [primaryText]="data.primaryText"
    [primaryIcon]="data.primaryIcon"
    [secondaryText]="data.secondaryText"
    [secondaryIcon]="data.secondaryIcon"
    [hasX]="data.hasX"
    (primaryClick)="onPrimaryClick()"
    (secondaryClick)="onSecondaryClick()"
    (xClick)="onXClick()"
    (backdropClick)="onBackdropClick()"
    (escapePress)="onEscapePress()">
    <mat-icon fontSet="fas" [fontIcon]="data.bodyIcon"></mat-icon>
    <span>{{data.body | language}}</span>
</app-modal>